*::-webkit-input-placeholder {
  color: #333;
  opacity: 1;
}
*:-moz-placeholder {
  color: #333;
  opacity: 1;
}
*::-moz-placeholder {
  color: #333;
  opacity: 1;
}
*:-ms-input-placeholder {
  color: #333;
  opacity: 1;
}

html, body {
  height: 100%;
}

html {
  -webkit-text-size-adjust: 100%; 
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none !important;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  
}
body input:required:valid,
body textarea:required:valid {
  
}

body {
  margin: 0;
  font-size: 16px;
  /*color: #07263b;*/
  color: #1d2129;
  font-family: "Source Sans Pro", sans-serif;
  position: relative;
  overflow-x: hidden;
  background: #e9ebee;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  outline: none;
}
input,textarea {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
button {
  cursor: pointer;
}

b, strong, h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder { color:transparent; } 
input:focus:-moz-placeholder, textarea:focus:-moz-input-placeholder { color:transparent; } /* FF 4-18 */ 
input:focus::-moz-placeholder, textarea:focus::-moz-input-placeholder { color:transparent; } /* FF 19+ */ 
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

input:focus,
input:active,
textarea:focus,
textarea:active {
  box-shadow: none !important;
}
#app {
  display: flex;
  flex-direction: column;
  height: 100%; 
}
.trs {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.hover-base-color:hover {
  color: #3b5998;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
header {
  padding: 10px 0;
  background: #1c1f24;
  flex: 0 0 auto;
  position: relative;
}
/**/
header.main {
  height: calc(100vh - 52px);
  background: none;
}
header.main .home-wrapper {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.home-content {
  color: #fff;
}
.home-content h1 {
  text-transform: uppercase;
  font-size: 74px;
  font-weight: 700;
}
.home-content p {
  font-size: 24px;
}
.home-content button {
  margin-top: 20px;
}

.header-wrapper h2 {
    display: inline-block;
    margin-bottom: 0px;
}
.bg-img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background: url(/static/img/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.bg-img .overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: .8;
  background: #1C1D21;
}
/* --  Buttons  -- */

.main-btn, .white-btn, .outline-btn {
  display: inline-block;
  padding: 10px 35px;
  margin: 3px;
  border: 2px solid transparent;
  border-radius: 3px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.main-btn {
  background: #208f4f;
  border: 2px solid #208f4f;
  color: #FFF;
}

.white-btn {
  background: #FFF;
  border: 2px solid #fff;
  color: #10161A !important;
}

.outline-btn {
  background: transparent;
  color: #6195FF !important;
  border-color: #6195FF;
}

.main-btn:hover, .white-btn:hover, .outline-btn:hover {
  background: none;
  color: #fff !important;
}

/**/
header .container {
  position: relative;
}
.start-block {
  padding: 100px 0;
}
footer img {
  width: 120px;
}
.nav-header {
  float: right;
  line-height: 59px;
}
.navbar-brand {
  float: left;
  padding: 0;
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  color: #fff !important; 
  margin-top: 5px;
}
header .navbar-brand img {
  width: 180px;
}
footer {
  padding: 10px 0;
  background: #1c1f24;
  overflow: hidden;
  flex: 0 0 auto;
}
footer .navbar-brand {
  
}
.socials {
  font-size: 0;
  text-align: center;
  float: right;
}
.socials a {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.socials a:hover {
  background: #fff;
  color: #1c1f24;
}
.logo-font {
  float: left;
  color: #fff;
  font-family: "Titillium Web", sans-serif;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
} 
.logo-font:hover {  
  color: #333;
}
.copy {
  text-align: center;  
  color: #fff;
  line-height: 2;
}
.nav-header li {
  margin-left: 10px;
}
.nav-header .nav-link { 
  padding: 0;
  color: #fff; 
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  margin-left: 10px;
}
.nav-header .nav-link:hover {
  color: #58bec7;
}
.auth-page {
  padding: 50px 0;
  flex: 1 0 auto;
}
.h-100 {
  height: 100%;
}
.margin-a {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.text-xs-center {
  text-align: center;
}
.link-login-form {
  color: #27ae60;
}
.auth-page form {
  text-align: center;
}
.template-button {
  background: #208f4f;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  padding: 6px 40px;
  line-height: 1;
  border: 1px solid #208f4f !important;
}
.template-button:hover,
.template-button:active {
  background: none;
  color: #208f4f;
}
.template-button:focus {
  box-shadow:none !important;
}
.auth-page-wrp {
  border: 0;
}
.form-group {
  position: relative;
}
.form-group input {
}
.password-view {
  position: absolute;
  position: absolute;
  right: 15px;
  top: 50%; 
  margin-top: -12px;  
  cursor: pointer;
  color: #208f4f;
}
.message-input {
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: -25px;
}
.message-input-success {
  color: #3b5998;
}

.message-input-error {
  color: #DC143C;
}
.error-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 10px;
}
.error-list li {
  padding-left: 15px;
  position: relative;
  margin-top: 10px;
}
.error-list li:before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #27ae60;
  position: absolute;
  top: 9px;
  left: 0;
}
.icon-info {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: #218690;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px; 
  text-transform: uppercase;
}
.profile-page {
  flex: 1 0 auto;
}
.profile-menu {
  margin: 20px 0;
  background: #fff;
  box-shadow: 0 0 30px rgb(28, 31, 36, .3);
  border-radius: 3px;
}
.profile-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.profile-menu ul li {
  
}
.profile-menu ul li a {
  color: #208f4f;
  padding: 10px;
  line-height: 1;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  font-size: 18px;
  
  border-left: 0;
  border-right: 0;
  border-top: 0;  
}.profile-menu ul li:last-child a {
  border-radius: 0 0 3px 3px;
}
.profile-menu ul li:nth-child(1) a {
  
}
.profile-menu ul li a:hover,
.profile-menu ul li a.active {
  background: #208f4f;
  color: #fff;
}
.profile-menu ul li a i {
  margin-right: 5px;
}
.profile-menu-header {
  padding:20px 0;
}
.profile-menu-header-icon {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #208f4f;
  color: #208f4f;
  text-align: center;
  margin: auto;
  line-height: 150px;
  font-size: 70px;
}
.profile-menu-header-login {
  color: #fff;
  text-align: left;
  color: #1c1f24;
  font-weight: 600;
  overflow: hidden;
  padding: 0 10px;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}
.form-udpate-info {
  padding-top: 20px;
}
.form-udpate-info form {
  margin-top: 20px;
}
.template-content-profile {  
  margin-bottom: 30px;
  margin-top: 20px;
  
}
.template-content-profile-wrp,
.wallets-profile,
.bookings-profile {
  width: 100%;
  background: white;
  padding-bottom: 30px;
  box-shadow: 0 0 30px rgb(28, 31, 36, .3);
  padding: 15px;
  border-radius: 3px;
}
.wallets-profile,
.bookings-profile {
  margin-top: 20px;
  margin-bottom: 30px;
  position: relative;
  padding-bottom: 40px;
}
.setting-forms {
  margin-bottom: 30px;
  margin-top: 20px;
}
.setting-forms-wrp {
  background: white;
  padding-bottom: 30px;
  padding: 15px;
  box-shadow: 0 0 30px rgb(28, 31, 36, .3);
  border-radius: 3px;
}
.profile-hr {
  width: 100%;
  height: 1px;
  background: #208f4f;
  margin: 30px 0;
}
.logout-button-wrp {
  text-align: center;
}
.logout-button-wrp a {
  display: inline-block;
  padding: 5px 45px;
  font-size: 18px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  color: #1d2129;
  border-radius: 5px;
  border: 1px solid #1d2129;
}
.logout-button-wrp a:hover {
  background: #1d2129;
  color: #fff;
}
.card {
  background: #e9ebee;
}
.form-udpate-info2 {
  margin-top: 30px;
}
.button-add-item-header {
  color: #3b5998;
  float: right;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 25px;
  padding: 6px 20px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  margin-top: 12px;
}
.button-add-item-header:hover {
  background: none;
  color: #fff;
}
.button-setting-forms-wrp {
  margin-top: 30px;
}
.button-setting-forms-wrp button {
  display: inline-block;
  vertical-align: middle;
}
.loader-item-main {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid #3b5998; /* Blue */
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: spin 2s linear infinite;
}
.button-setting-forms-wrp .loader, 
.form-add__update_item-step-buttons .loader {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid #3b5998; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}
.loader-search-wrp,
.wallets-loader-wrp,
.loader-booking-wrp,
.load-booking-evet {
  text-align: center;
}
.loader-booking-wrp {
  margin-top: 30px;
}
.load-booking-evet {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 5;
  background: rgba(0,0,0, .5);
  line-height: 140px;
}
.load-booking-evet div {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid #3b5998; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite; 
}
.loader-search-wrp .loader-search,
.wallets-loader-wrp .wallets-loader,
.loader-booking-wrp .loader-booking {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid #3b5998; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite; 
}
.loader-button {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  border: 1px solid #f3f3f3; /* Light grey */
  border-top: 1px solid #3b5998; /* Blue */
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 2s linear infinite; 
  margin-left: 10px;
}
.loader-button-2 {
  display: inline-block;
  position: relative;
  top: 2px;
  margin-left: 10px;
  border: 1px solid #1c1f24; 
  border-top: 1px solid #fff;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 2s linear infinite; 
  margin-left: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.success-setting {
  vertical-align: middle;
  margin-left: 10px;
  display: inline-block;
  font-size: 18px;  
  color: limegreen;
}
.template-input-block {
  margin-top: 15px;
}
.template-input-block .form-group {
  margin-bottom: 0;
}
.template-input-block.range {
  margin-top: 50px;
  margin-bottom: 20px;
}
.template-input-block-label {
  font-size: 20px;
  float: left;
  width: 30%;
  min-height: 1px;
}
.template-input-block-label.small {
  width: 100px;
}
.template-input-block-fieldset {
  float: left;
  width: calc(70% - 15px);
  margin-left: 15px;
}
.template-input-block-fieldset.small {
  width: calc(30% - 15px);
}
.form-add-item {
}
.hr-form-item {
  width: 100%;
  height: 1px;
  margin: 30px auto;
  background: #3b5998;
  margin-top: 15px;
}
.template-input-block-fieldset-photos {
  font-size: 0;
}
.template-input-block-fieldset-photos-select {
  width: 100px;
  height: 100px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  color: #27ae60;
  border: 1px solid #27ae60;
  cursor: pointer;
  line-height: 100px;
  font-size: 40px;
  margin-right: 10px;
}
.template-input-block-fieldset-photos-drag {
  display: inline-block;
  cursor: pointer;
}
.template-input-block-fieldset-photos-view {
  width: 100px;
  height: auto;
  border: 1px solid #8b9dc3;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  position: relative;  
}
.template-input-block-fieldset-photos-view img {
  width: 100%;
  cursor: move;
}
.template-input-block-fieldset-photos-view i {
  position: absolute;
  right: -10px;
  top: -10px;
  font-size: 12px;
  background: #8b9dc3;
  border-radius: 50%;
  color: white;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.template-input-block-fieldset-photos-view i:hover {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.form-add__update_item-step-buttons {
  margin-top: 30px;
  text-align: center;
}
.form-add__update_item-step-buttons a {
  margin: 0 10px;
}
.template-input-block-wrp-list {
  margin-bottom: 10px;
}
.template-input-block-wrp-list-tools {
  font-size: 0;
}
.template-input-block-wrp-list-tools a {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  font-size: 25px;
  margin-top: 4px;
  color: #208f4f;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.template-input-block-wrp-list-tools a:hover {
  color: #1c1f24;
}
.steps-view {
  font-size: 0;
  text-align: center;
  margin: 30px 0;
}
.steps-view > div:before,
.steps-view > div:after {
  content: '';
  position: absolute;
  height: 2px;
  top: 50%;
  margin-top: -1px;
  background: #1c1f24;
  width: 10px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.steps-view > div:before {
  right: -10px;
}
.steps-view > div:after {
  left: -10px;
}
.steps-view > div:first-child:after {
  display: none;
}
.steps-view > div:last-child:before {
  display: none;
}
.steps-view-block {
  text-align: center;
  margin: 0 10px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  background: #1c1f24;
  width: 70px;
  height: 70px;
  font-size: 20px;
  border-radius: 50%;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}
.steps-view-block div:nth-child(1) {
  text-align: center;
  color: #fff;
  font-weight: 600;
  line-height: 1;
  font-size: 24px;
  margin-top: 10px;
}
.steps-view-block.active {
  background: #208f4f;
  box-shadow: 0 0 20px #208f4f;
}
.steps-view.active > div:before {
  background: #208f4f;
}

.steps-view-block div:nth-child(2) {
  color: #fff;
  line-height: 1;
  text-align: center;
  font-size: 14px;
  margin-top: 3px;
}
.vue-slider-process {
  width: 100%;
}
.dropdown-toggle::after {
  display: none;
}
.item-profile,
.item-search {
  margin-bottom: 20px;
  border: 1px solid #e9ebee;
  border-radius: 0 0 5px 5px;
  position: relative;
  padding-bottom: 8px;
  line-height: 200px;
  text-align: center;
}
.item-profile-img,
.item-search-img {
  height: 200px;
  overflow: hidden;
  position: relative;
}
.item-profile .item-profile-img:before,
.item-search .item-search-img:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(28, 31, 36, .3);
  opacity: 0;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.item-profile:hover .item-profile-img:before,
.item-search:hover .item-search-img:before {
  opacity: 1;
}
.item-profile-img img,
.item-search-img img {
  height: 100%;
}
.item-profile-info,
.item-search-info {
  padding-top: 10px;
  
  border-top: 1px solid #e9ebee;
}
.list-profile-items a,
.page-search-result a {
  color: #1d2129;
}
.item-profile-title,
.item-search-title {
  font-size: 18px;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
  text-align: left;
}
.item-profile-price b {
  font-weight: 700;
}
.form-find {
  position: absolute;
  margin: 0 10px;
  width: 40%;
  top: 12px;
  right: 260px;
}
.form-find input {
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 40px;
  height: 38px;
  padding-left: 15px;
  width: 100%;
}
.form-find button {
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -12px;
}
.header-button-category {
  float: left;
  background: #208f4f;
  padding: 7px 15px;
  border-radius: 5px;
  color: #fff;
  margin-left: 10px;
  margin-top: 14px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.header-button-category:hover {
  color: #fff;
}
.header-button-category div {
  display: inline-block;
  vertical-align: middle;
}
.header-button-category div:nth-child(1) {
  width: 25px;
  position: relative;
  height: 19px;
  margin-right: 10px;
}
.header-button-category div:nth-child(1) span {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.header-button-category div:nth-child(1) span:nth-child(1) {
  top: 0;
}
.header-button-category div:nth-child(1) span:nth-child(2) {
  top: 8px;
}
.header-button-category div:nth-child(1) span:nth-child(3) {
  top: 16px;
}

.header-button-category.open div:nth-child(1) span:nth-child(1) {
  top: 8px;
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}
.header-button-category.open div:nth-child(1) span:nth-child(2) {
  display: none;
}
.header-button-category.open div:nth-child(1) span:nth-child(3) {
  top: 8px;
  -webkit-transform: rotate(-225deg);
  -ms-transform: rotate(-225deg);
  -o-transform: rotate(-225deg);
  transform: rotate(-225deg);
}
.menu-category {
  position: absolute;
  padding: 10px;
  width: calc(100% - 30px);
  top: 15px;
  background: rgba(28, 31, 36, .9);
  z-index: 3;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  display: none;
}
.menu-category.open {
  display: block;
}
.menu-category ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu-category ul li {
  display: inline-block;
  width: 25%;
}
.menu-category ul li a {
  color: #fff;
  font-size: 20px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.menu-category ul li a:hover {
  color: #208f4f;
}
.item-profile-status {
  position: absolute;
  border-radius: 5px;
  padding: 3px 20px;
  color: #fff;
  background: #208f4f;
  font-size: 12px;
  bottom: 10px;
  left: 10px;
  line-height: 1;
}
.item-profile-cateogry,
.item-search-cateogry {
  position: absolute;
  border-radius: 5px;
  padding: 3px 20px;
  color: #fff;
  background: #218690;
  font-size: 12px;
  top: 10px;
  left: 10px;
  opacity: 0;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  line-height: 1;
}
.item-profile:hover .item-profile-cateogry,
.item-search:hover .item-search-cateogry {
  opacity: 1;
}

.profile-items-button {
  text-align: center;
  padding: 30px 0;
  padding-bottom: 60px;
}
.profile-items-button a {
  border-radius: 5px;
  padding: 7px 15px;
  font-size: 18px;
  color: #fff;
  background: #208f4f;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  border: 1px solid #208f4f;
}
.profile-items-button a:hover {
  background: none;
  color: #208f4f;
}
.profile-items-button .loader {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid #3b5998; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}
.profile-items-filter {
  position: absolute;
  width: 400px;
  background: #fff;
  z-index: 3;
  padding: 10px;
  box-shadow: 0 0 30px rgb(28, 31, 36, .3);
}
.profile-items-filter .template-input-block {
  margin-bottom: 10px;
  float: left;
}
.profile-items-filter .template-input-block {
  width: 100%;
}
.profile-items-filter .template-input-block-label {
  float: none;
  width: 100%;
}
.profile-items-filter .template-input-block-fieldset {
  margin-left: 0;
  width: 100%;
}
.profile-items-filter .template-input-block:first-child {
  margin-right: 20px;
}

.item-profile-tools {
  margin-top: 10px;
  font-size: 0;
  position: absolute;
  width: 100%;
  bottom: 0;
  opacity: 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  line-height: 1;
}
.item-profile:hover .item-profile-tools {
  opacity: 1;
}
.item-profile-tools a {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  text-align: center;
  font-size: 18px;
  padding: 5px 0;
  background: #208f4f;
  color: #fff;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.item-profile-tools a:first-child {
  border-radius: 0px 0 0 5px;
}
.item-profile-tools a:last-child {
  border-radius: 0 0px 5px 0;
}
.item-profile-tools a:hover {
  color: #1c1f24;
}
.template-popup-action {
  border-radius: 5px;
  background: #fff;
}

.template-popup-info {
  padding: 20px;
}
.template-popup-button {
  font-size: 0;
}
.template-popup-button a,
.template-popup-button button {
  border: 0;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  width: 50%;
  background: #e9ebee;
  text-align: center;
  padding: 15px 0;
  color: #1d2129;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  opacity: .6;
}
.template-popup-button a:hover,
.template-popup-button button:hover {
  opacity: 1;
}
.template-popup-button a:first-child,
.template-popup-button button:first-child {
  border-radius: 0 0 0 5px;
  border-right: 1px solid rgba(29, 33, 41, .3);
}
.template-popup-button a:last-child {
  border-radius: 0 0 5px 0;
}
.title-popup {
  font-size: 20px;
}
.title-popup b {
  font-weight: 700;
}
.page-item-info-wrp {
  margin: 20px 0;
  padding: 30px;
  box-shadow: 0 0 30px rgb(28, 31, 36, .3);
  background: #fff;
  border-radius: 3px;
}
.page-item-info-rent {
  margin-top: 20px;
  position: absolute;
  right: 0;
  top: 0  
}
.page-item-info-image-mains-slider {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.page-item-info-image-mains-slider-slide {
  height: 350px;
  text-align: center;
  overflow: hidden;
  background: rgba(233, 235, 238, .2);
  cursor: pointer;
  position: relative;
}
.slider-arrow {
  height: 350px;
  width: 60px;
  position: absolute;
  background: rgba(32, 143, 79, .3);
  z-index: 3;
  top: 0;
  text-align: center;
  line-height: 350px;
  font-size: 40px;
  color: #fff;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  opacity: 0;
}
.slider-arrow:hover {
  color: #fff;
  background: rgba(32, 143, 79, .7);
}
.page-item-info-image-mains-slider:hover .slider-arrow {
  opacity: 1;
}
.slider-arrow.right {
  right: 0;
}
.slider-arrow.left {
  left: 0;
}

.page-item-info-image-mains-slider-item {
  height: 100%;
  display: inline-block !important;
}
.page-item-info-desc {
  padding: 10px 0;
}
.page-item-info-rows {
  margin-top: 40px;
}
.page-item-info-rows-hr {
  height: 1px;
  width: 100%;
  background: #1c1f24;
  opacity: .3;
  margin: 20px 0;
}
.add-item-hr {
  height: 1px;
  width: 100%;
  background: #1c1f24;
  opacity: .3;
  margin: 20px 0;
}
.page-item-info-rows-item {
  margin: 10px 0;
}

.page-item-info-rows-item-label {
  font-size: 18px;
}
.page-item-info-rows-item-value {
  font-size: 16px;
}
.page-item-info-rent-price {
  font-weight: 700;
  font-size: 20px;
  text-align: right;
}
.page-item-info-rent-price i {
  margin-left: 5px;
  font-size: 16px;
}
.page-item-info-rent-period {
  font-size: 16px;
  margin-top: 10px;
  line-height: 1.5;
  text-align: right;
}
.page-item-info-rent-button {
  margin-top: 10px;
  display: block;
  border-radius: 5px;
  width: 100%;
  color: #fff;
  border: 1px solid #208f4f;
  background: #208f4f;
  padding: 7px 0;
  text-align: center;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.page-item-info-rent-button:hover {
  background: none;
  color: #208f4f;
}
.page-item-info-rent-button-show-number {
  margin-top: 10px;
  display: block;
  border-radius: 5px;
  width: 100%;
  color: #fff;
  border: 1px solid #1c1f24;
  background: #1c1f24;
  padding: 7px 0;
  text-align: center;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.page-item-info-rent-button-show-number:hover {
  color: #1c1f24;
  background: none;
}
.page-search {
  padding: 30px 0;
  flex: 1 0 auto;
}
.page-search-wrp,
.page-search-filter {
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 30px rgb(28, 31, 36, .3);
}
.page-search-filter {
  padding: 10px;
  
}
.page-search-wrp {
  padding: 20px;
}
.page-search-wrp-find {
  width: 100%;
  margin-bottom: 30px;
}
.page-search-wrp-find .form-find {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
}
.page-search-wrp-find .form-find input {
  border: 1px solid #1c1f24;
}
.page-search-filter .template-input-block-label,
.page-search-filter .template-input-block-fieldset {
  float: none;
  width: 100%;
  margin: 0;
  font-size: 16px;
}
.page-search-filter .template-input-block-fieldset {
  margin-top: 5px;
}
.apply-filter {
  display: inline-block;
  background: #208f4f;
  color: #fff;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  padding: 6px 0px;
  border: 1px solid #208f4f;
  border-radius: 5px;
  width: 100%;
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
}
.apply-filter:hover {
  background: none;
  color: #208f4f;
}
.title-popup-booking {
  text-align: center;
  font-size: 24px;
}

.theme-booking .vdatetime-popup__header,
.theme-booking .vdatetime-calendar__month__day--selected > span > span,
.theme-booking .vdatetime-calendar__month__day--selected:hover > span > span {
  background: #208f4f;
}

.theme-booking .vdatetime-year-picker__item--selected,
.theme-booking .vdatetime-time-picker__item--selected,
.theme-booking .vdatetime-popup__actions__button {
  color: #208f4f;
}
.vdatetime-calendar__current--month {
  font-size: 16px;
}
.booking-form-datetime-wrp {
  font-size: 0;
  padding-bottom: 10px;
}
.info-rent-period-modal {
  padding: 20px;
  padding-top: 0;
  color: red;
}
.info-rent-period-modal b {
  font-weight: 700;
}
.booking-form-datetime {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  padding: 10px 15px;
}
.booking-form-datetime-label {
  font-size: 18px;
}
.booking-form-datetime .vdatetime  input {
  border: 1px solid rgba(28, 31, 36, .3);
  width: 100%;
  height: 40px;
  margin-top: 10px;
  border-radius: 3px;
  font-size: 18px;
  padding: 0 15px;
}
.page-search-more-button {
  text-align: center;
}
.page-search-more-button a {
  display: inline-block;
  padding: 5px 45px;
  font-size: 18px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  color: #fff;
  background: #208f4f;
  border-radius: 5px;
  border: 1px solid #208f4f;
  margin-top: 60px; 
}
.page-search-more-button a:hover {
  background: none;
  color: #208f4f;
}
.not-found-item {
  flex: 1 0 auto; 
  padding: 50px 0;
  text-align: center;
  font-size: 3vw;
  font-weight: 700;
}
.not-found-item a {
  display: inline-block;
  padding: 5px 45px;
  font-size: 18px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  color: #fff;
  background: #208f4f;
  border-radius: 5px;
  border: 1px solid #208f4f;
  margin-top: 30px; 
  font-weight: 500;
}
.not-found-item a:hover {
  background: none;
  color: #208f4f;
}

.error_date input,
.error_shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  border: 1px solid red !important;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(4px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-8px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(8px, 0, 0);
  }
}
.button-add-wallet {
  position: absolute;
  right: 15px;
  top: 15px;
  display: inline-block;
  padding: 0 6px;
  font-size: 18px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  color: #fff;
  background: #208f4f;
  border-radius: 40px;
  border: 1px solid #208f4f;
}
.button-add-wallet i {
  position: relative;
  top: 1px;
}
.button-add-wallet * {
  display: inline-block;
}
.button-add-wallet:hover {
  color: #fff;
}
.form-add-wallet {
  padding: 20px;
  font-size: 0;
  
}
.form-add-wallet form {
  position: relative;
}
.form-add-wallet-key {
  position: absolute;
  right: 10px;
  top: 50%;
  font-size: 14px;
  margin-top: -7px;
  color: #208f4f;
  height: 14px;
}
.form-add-wallet-key:hover {
  color: #208f4f;
}

.form-add-wallet-key span {
  position: absolute;
  top: -30px;
  left: -105px;
  width: 127px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  background: #fff;
  font-size: 12px;
  opacity: 0;
}
.form-add-wallet-key:hover span {
  opacity: 1;
}
.form-add-wallet-key i {
  vertical-align: top;
}
.form-add-wallet input {
  width: calc(100% - 130px);
  display: inline-block;
  vertical-align: middle;
  height: 35px;
  border-radius: 5px;
  border: 1px solid rgba(29, 33, 41, .3);
  font-size: 16px;
  padding: 0 15px;
}
.form-add-wallet-label { 
  width: 130px;
  font-size: 18px; 
  display: inline-block;
  vertical-align: middle; 
}
.wallet-item {
  margin-top: 20px;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 0 30px rgb(28, 31, 36, .3);
}
.wallet-item-show {
  position: relative;
}
.wallet-item-toggle {
  position: absolute;
  height: 30px;
  right: 0px;
  font-size: 30px;
  text-align: center;
  color: #208f4f;
  top: 0;
}
.wallet-item-toggle.open {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.wallet-item-toggle i {
  vertical-align: top;
}
.wallet-item-toggle:hover {
  color: #208f4f;
}
.wallet-item-show-address {
  width: calc(100% - 40px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wallet-item-info {
  margin-top: 10px;
}
.wallet-item-info-params {
  font-size: 0;
  margin-bottom: 10px;
}
.wallet-item-info-params div {
  display: inline-block;
  font-size: 16px;
}
.wallet-item-info-params div:nth-child(1) {
  font-weight: 700;
  margin-right: 5px;
}
.change-status-wallet {
  display: inline-block;
  vertical-align: middle;
  margin-top: 20px;
  border-radius: 40px;
  padding: 5px 20px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  margin-top: 20px;
}
.change-status-wallet.active {
  color: #fff;
  background: #208f4f;
  border: 1px solid #208f4f;
}
.change-status-wallet.noactive {
  color: #fff;
  background: #1c1f24;
  border: 1px solid #1c1f24;
}
.change-status-wallet.noactive:hover {
  background: none;
  color: #1c1f24;
}
.change-status-wallet.active:hover,
.delete-wallet:hover {
  color: #208f4f;
  background: none;
}
.delete-wallet {
  display: inline-block;
  vertical-align: middle;
  margin-top: 20px;
  border-radius: 40px;
  color: #fff;
  background: #208f4f;
  border: 1px solid #208f4f;
  padding: 5px 10px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  margin-top: 20px;
  margin-left: 10px;
}
.form-add-wallet-hint {
  margin-top: 5px;
  font-size: 16px;
}
.form-add-wallet-hint b {
  font-weight: 700; 
}
.main-booking-menu {
  font-size: 0;
}
.main-booking-menu a {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  color: #208f4f;
  border: 1px solid #208f4f;
  border-radius: 3px;
  text-align: center;
  width: 50%;
  padding: 5px 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.main-booking-menu a:hover,
.main-booking-menu a.active {
  background: #208f4f;
  color: #fff;
}
.main-booking-menu a:first-child {
  border-right: 0;
  border-radius: 3px 0 0 3px;
}
.main-booking-menu a:last-child {
  border-radius: 0 3px 3px 0;
}
.dropdown_menu-wrp {
  position: absolute;
  width: 230px;
  position: absolute;
  right: 0;
  z-index: 3;
  top: 59px;
  display: none;
}
.dropdown_menu {
  background: #fff;
  box-shadow: 0 0 30px rgb(28, 31, 36, .3);
  width: 100%;
  margin-top: 10px;
}
.dd-open:hover .dropdown_menu-wrp {
  display: block;
}
.dropdown_menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.dropdown_menu ul li {
  display: block;
  margin: 0;
  line-height: 1;
}
.dropdown_menu ul li a {
  display: block;
  color: #208f4f;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  padding: 10px;
  border-bottom: 1px solid #208f4f;
}
.dropdown_menu ul li:last-child a {
  border-bottom: 0;
}
.dropdown_menu ul li a:hover,
.dropdown_menu ul li a.active {
  color: #fff;
  background: #208f4f;
}
.page-item-template {
  flex: 1 0 auto;
  width: 100%;
  position: relative;
}
.page-item-info-image-mains-slider .slick-dotted {
  padding: 0;
  margin: 0;
  list-style: none;
}
.page-item-info-image-mains-slider .slick-dotted li {
  display: inline-block;
  vertical-align: middle;
}
.page-item-info-image-mains-slider .slick-dotted li.slick-active button {
  background: #208f4f;
}
.page-item-info-image-mains-slider .slick-dotted li button {
  padding: 0;
  margin: 0;
  border: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #208f4f;
  font-size: 0;
  background: none;
  margin: 0 5px;
  margin-top: 10px; 
}
.modal-slideshow__gallery__container__img {
  border-radius: 0 !important;
}
.modal-slideshow__container__image {
  border-radius: 0 !important;
}
.open-filter-profile {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  margin-left: 10px;
  color: #208f4f;
  width: 30px;
  height: 30px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
}
.open-filter-profile:hover,
.open-filter-profile.open {
  color: #fff;
  background: #208f4f;
}
.list-profile-items {
  margin-top: 30px;
}

.profile-items-paginate .templatePagination {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  margin-top: 30px;
}
.profile-items-paginate .templatePagination li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}
.profile-items-paginate .templatePagination li a {
  font-size: 18px;
  color: #208f4f;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  display: block;
}
.profile-items-paginate .templatePagination li.active a,
.profile-items-paginate .templatePagination li a:hover {
  background: #208f4f;
  color: #fff;
}
.profile-items-paginate .templatePagination li:first-child a,
.profile-items-paginate .templatePagination li:last-child a {
  width: auto;
  height: auto;
}
.profile-items-paginate .templatePagination li:first-child a:hover,
.profile-items-paginate .templatePagination li:last-child a:hover {
  background: none;
  color: #1c1f24;
}
.profile-items-paginate .templatePagination li.disabled {
  display: none;
}
.outgoing-bookigns-list {
  margin-top: 40px;
}
.outgoing-bookign {
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0 0 30px rgb(28, 31, 36, .3);
  position: relative;
}
.outgoing-bookign-image {
  display: inline-block;
  vertical-align: top;
  max-width: 180px;
  min-width: 180px;
  height: 100px;
  overflow: hidden;
  position: relative;
}
.outgoing-bookign-image div {
  position: absolute;
  left: 10px;
  bottom: 10px;
  padding: 3px;
  border-radius: 5px;
  background: #218690;
  color: #fff;
  font-size: 12px;
}
.outgoing-bookign-image img {
  height: 100%;
}
.outgoing-bookign-info {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  width: calc(100% - 240px);
}
.outgoing-bookign-title {
  font-size: 18px;
  color: #1d2129;
}
.outgoing-bookign-params span {
  display: inline-block;
  font-size: 14px;
}
.outgoing-bookign-params span b {
  font-weight: 700;
}
.outgoing-bookign-params span:nth-child(1) {
  font-weight: 700;
  margin-right: 5px;
  width: 125px;
}
.delete-outgoing-booking,
.approve-booking {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #208f4f;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.delete-outgoing-booking:hover,
.approve-booking:hover {
  color: #208f4f;
}
.approve-booking {
  right: 20px;
  bottom: 20px;
  top: auto;
}
.page-item-details-info {
  margin-top: 20px;
  font-size: 20px;
}
.booking-form-phrase {
  padding: 0 15px;
  margin-bottom: 20px;
}
.booking-form-phrase input {
  border: 1px solid rgba(28, 31, 36, .3);
}
.booking-form-phrase-label {
  margin-bottom: 10px;
  font-size: 18px;
}
.openFilterSearch {
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border: 2px solid #208f4f;
  color: #208f4f;
  display: none;
}
.openFilterSearch:hover {
  color: #208f4f; 
}
.close-filter {
  display: none;
}
.page-about-header {
  padding: 50px 0;
  background: url(/static/img/bg.jpg) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
  font-size: 72px;
  font-weight: 700;
  color: #fff;
}
.page-about-header div {
  position: relative;
}
.page-about-header:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: .8;
  background: #1C1D21;
  width: 100%;
  height: 100%;
}
.template-about-blocks {
  padding: 20px;
  margin: 30px 0;
  background: #fff;
  border-radius: 3px;
}

.template-about-block {
  margin-top: 30px;
  padding-left: 50px;
  position: relative;
  
}
.template-about-block:before {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  background: #208f4f;
  left: 0;
  top: 5px;
  color: #fff;
  text-align: center;
  font-size: 50px;
  line-height: 21px;
}
.template-about-block:after {
  content: '';
  position: absolute;
  top: 35px;
  width: 2px;
  height: 100%;
  border-left: 2px dotted #e9ebee;
  left: 14px;
}
.template-about-blocks > div:nth-child(1) {
  margin-top: 0;
}
.template-about-block-text {
  margin-top: 10px;
}
.template-about-block-text p {
  margin: 5px 0;
}
.template-about-block-text b {
  font-weight: 700;
}
.template-about-block-text ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}
.template-about-block-text ul li {
  padding-left: 15px;
  position: relative;
}
.template-about-block-text ul li:before {
  content: '';
  width: 8px;
  height: 8px;
  position: absolute;
  background: #208f4f;
  left: 0;
  top: 9px;
}