@media only screen and (max-width : 1440px) {
  .home-content h1 {
    font-size: 60px;
  }
  .home-content p {
    font-size: 20px;
  }
}
@media only screen and (max-width : 1139.99px) {
  .slider-arrow {
    display: none;
  }
  .page-item-info-rent {
    position: static;
    margin-bottom: 30px;
  }
  .page-search {
    padding: 30px 10px;
  }
  .steps-view {
    display: none;
  }
	.auth-page {
		height: auto;
		padding: 100px 0;	
	}
  .form-find {
    display: none;
  }
  .header-button-category  {
    display: none;
  }
}
@media only screen and (max-width : 767px) {
  .booking-form-datetime {
    width: 100%;
  }
  .page-item-single {
    padding: 0 10px;
  }
  .page-item-info-wrp {
    padding: 10px;
  }
  .page-item-info-rows-item-label {
    font-weight: 700;
  }
  .openFilterSearch {
    display: block;
  }
  .close-filter {
    display: inline-block;
  }
  .page-search-filter {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 5;
    display: none;
  }
  .template-input-block-fieldset.small {
    width: 100%;
  }
  .template-button {
    padding: 6px 20px;
  }
  .template-input-block-label,
  .template-input-block-fieldset {
    float: none;
    width: 100%;
    margin-left: 0;
  }
  .nav-no-login {
    
  }
  .button-add-item-header {
    display: none;
  }
  header.main .home-wrapper {
    width: 100%;
    top: 0;
    position: relative;
    transform: none;
    padding: 30px 0;
  }
 
  header.main {
    height: calc(100vh - 102px);
  }
  footer .navbar-brand {
    display: block;
    text-align: center;
    width: 100%;
    float: none;
  }
  .socials {
    float: none;
    margin: 10px 0;
  }
  .outgoing-bookign-info {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }
  .outgoing-bookign-image {
    width: 100%;
    text-align: center;
    min-width: 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width : 600px) {
  .template-popup-action {
    width: 100% !important;
  }
  .v--modal-overlay {
    padding: 0 10px;
  }
}
@media only screen and (max-width : 480px) {
  .dropdown_menu-wrp {
    top: 53px;
  }
  .page-item-info-image-mains-slider-slide {
    height: 250px;
  }
  .page-search-wrp {
    padding: 10px;
  }
  .nav-header {
    line-height: 52px;
  }
  header .navbar-brand img {
    width: 120px;
  }
  .main-booking-menu a {
    font-size: 14px;
  }
  .profile-items-filter {
    width: calc(100% - 60px)
  }
}
@media only screen and (min-width : 768px) {
  .page-search-filter {
    display: block !important;
  }
}