 <template>
  <div class="profile-page">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <RappProfileMenu></RappProfileMenu>
        </div>
        <div class="col-md-8 col-sm-12 template-content-profile">  
          <div class="template-content-profile-wrp">
            <div class="steps-view">
              <div :class="'steps-view-block ' + (i == step ? 'active' : '')" v-for="i in max_steps" @click="step = i">
                <div class="">{{ i }}</div>
                <div class="">Step</div>
              </div>
            </div>
            <form class="form-add-item" @submit.prevent="onSubmit">
              <div class="form-add__update_item-step" v-show="step == 1 || debug">
                <h3>Add new Item</h3>
                <RappTemplateInput :label="'Title'" :vml="title" @blur="e => title = e.target.value"></RappTemplateInput>
                <RappTemplateTextarea :label="'Description item'" :vml="desc" @blur="e => desc = e.target.value"></RappTemplateTextarea>  
              </div>
              <div class="form-add__update_item-step" v-show="step == 2 || debug">
                <RappTemplateInput :label="'Name item'" :vml="name" @blur="e => name = e.target.value"></RappTemplateInput>
                <RappTemplateTextarea :label="'Details'" :vml="details" @blur="e => details = e.target.value"></RappTemplateTextarea>
                <RappTemplateSelect :label="'Category'" :change="true" :vm="category" :data="categories" @blur="e => category = e"></RappTemplateSelect>
                <RappTemplateSelect :label="'Gender'" :change="true" :vm="gender"  :data="genders" @blur="e => gender = e"></RappTemplateSelect>
                <RappTemplatePhotos :label="'Select photos'" :vm="load_img" id="photos1" @blur="e => images = e"></RappTemplatePhotos>
              </div>  
              <div class="form-add__update_item-step" v-show="step == 3 || debug">
                <h3>Rent Configuration</h3>
                <RappTemplateRange ref="range1" :vm="minRentDuration" :show="minRentDuration_f" :label="'Min Rent Duration (days)'" max="366" :data="minRentDuration" @blur="e => minRentDuration = e"></RappTemplateRange>
                <RappTemplateRange ref="range2" :vm="maxRentDuration" :show="maxRentDuration_f" :label="'Max Rent Duration (days)'" max="366" :data="maxRentDuration" @blur="e => maxRentDuration = e"></RappTemplateRange>
                <!--<RappTemplateSelect :label="'Currency'" :change="true" :vm="currency" :data="currencies" @blur="e => currency = e"></RappTemplateSelect>-->
                <!--<RappTemplateSelect :label="'Rent Period'" :change="true" :vm="rentPeriod" :data="rentPeriods" @blur="e => rentPeriod = e"></RappTemplateSelect>-->
                <RappTemplateInput :label="'Full Price Per Period'" :vml="FullPricePerPeriod" @blur="e => FullPricePerPeriod = e.target.value"></RappTemplateInput>
              </div>  
              <div class="form-add__update_item-step" v-show="step == 4 || debug">
                <h3>Dimensions</h3>
                <RappTemplateInput :label="'width'" :vml="width" :classes="'small'" @blur="e => width = e.target.value"></RappTemplateInput>
                <RappTemplateInput :label="'height'" :vml="height" :classes="'small'" @blur="e => height = e.target.value"></RappTemplateInput>
                <RappTemplateInput :label="'depth'" :vml="depth" :classes="'small'" @blur="e => depth = e.target.value"></RappTemplateInput>
                <RappTemplateInput :label="'weight'" :vml="weight"  :classes="'small'" @blur="e => weight = e.target.value"></RappTemplateInput>
                <RappTemplateSelect :label="'Measure Unit'" :change="true" :vm="measureUnit" :data="measureUnits" @blur="e => measureUnit = e"></RappTemplateSelect>
                <div class="add-item-hr"></div>
                <h3>Package</h3>
                <RappTemplateRepeater :vm="package" :name="'ObjectName'" :value="'Quantity'" :labels="['Object Name', 'Quantity']" @blur="e => package = e"></RappTemplateRepeater>
                <div class="add-item-hr"></div>
                <h3>Properties</h3>
                <RappTemplateRepeater :vm="properties" :name="'Name'" :value="'Value'" :labels="['Property name', 'Property value']" @blur="e => properties = e"></RappTemplateRepeater>
              </div>
              <div class="form-add__update_item-step" v-show="step == 5 || debug">
                <h3>Location</h3>
                <RappTemplateSelect :label="'Country'" :change="true" :vm="country" :data="country_list" @blur="e => country = e"></RappTemplateSelect>
                <RappTemplateSelect :label="'City'" :change="true" :vm="city" :data="city_list" @blur="e => city = e"></RappTemplateSelect>
                <RappTemplateInput :label="'Address'" :vml="address" @blur="e => address = e.target.value"></RappTemplateInput>
                <div class="add-item-hr"></div>
                <h3>Delivery Types</h3>
                <RappTemplateSelect :label="'Delivery'" :change="true" :vm="delivery_type" :multiple="true" :data="delivery_types" @blur="e => delivery_type = e"></RappTemplateSelect>
              </div>
              <div class="form-add__update_item-step-buttons">
                <a href="#" class="btn btn-lg btn-primary template-button" v-show="step > 1" @click.prevent="step--">
                  Prev step
                </a>
                <button class="btn btn-lg btn-primary template-button" v-show="step == max_steps || debug">
                  {{ update ? 'Update item' : 'Add New Item' }}
                </button>
                <a href="#" class="btn btn-lg btn-primary template-button" v-show="step < max_steps" @click.prevent="step++">
                  Next step
                </a>
                <div class="loader" v-show="loader"></div>
              </div>
              <ul class="errors-add-adv error-list">
                <li v-for="error in errors">{{ error.message }} (Step: {{error.step}})</li>
              </ul>
            </form>
          </div>
        </div>  
      </div>  
    </div>
  </div>  
</template>
<script>
  
  import { mapGetters } from 'vuex'
  import RappProfileMenu from '@/components/ProfileMenu'
  import RappTemplateInput from'@/components/TemplateInputField'
  import RappTemplateTextarea from'@/components/TemplateTextareaField'
  import RappTemplateSelect from'@/components/TemplateSelectField'
  import RappTemplatePhotos from'@/components/TemplatePhotosField'
  import RappTemplateRange from'@/components/TemplateRangeField'
  import RappTemplateRepeater from'@/components/TemplateRepeaterField'

  import { 
    ADD_ITEM,
    UPDATE_ITEM,
    FETCH_COUNTRY_LIST,
    FETCH_CITY_LIST,
    FETCH_ALL_PROPERTIES,
    GET_INFO_ITEM_BY_ID
  } from '@/store/actions.type'
  export default {
    name: 'RappAddAdv',
    data () {
      return {
        debug: false,
        step: 0,
        update: false,
        update_info: [],
        max_steps: 5,
        categories: [],
        category: [],
        name:'',
        desc:'',
        title:'',
        details: '',
        currencies:[],
        currency: [],
        rentPeriods: [],
        rentPeriod: [],
        images: [],
        city_list: [],
        city: [],
        country: [],
        address: '',
        country_list: [],
        width: '',
        height: '',
        depth: '',
        weight: '',
        genders: [],
        gender: [],
        package: [],
        properties: [],
        delivery_types: [],
        delivery_type: [],
        measureUnits: [],
        measureUnit: [],
        minRentDuration:1,
        maxRentDuration:30,
        minRentDuration_f: false,
        minRentDuration_show: false,
        maxRentDuration_f: false,
        maxRentDuration_show: false,
        FullPricePerPeriod: '',
        loader: false,
        errors: [],
        load_img: [],
      }
    },
    components: {
      RappProfileMenu,
      RappTemplateInput,
      RappTemplateTextarea,
      RappTemplateSelect,
      RappTemplatePhotos,
      RappTemplateRange,
      RappTemplateRepeater
    },
    computed: {
      ...mapGetters([
        'getAllCategories',
        'getAllCurrencies',
        'getRentPeriods',
        'getAddErrors',
        'getCountryList',
        'getCityList',
        'getMeasureUnits',
        'getGenderList',
        'getDeliveryTypes'
      ]),
    },
    methods: {
      validateTemplateKey (key, object, step, msg) {
        var validate = true
        if(!(key in object)) {
          this.errors.push({
            message: msg,
            step: step
          })
          validate = false
        }
        return validate
      },
      validateTemplateStr (object, step, msg) {
        var validate = true
        if(object == '') {
          this.errors.push({
            message: msg,
            step: step
          })
          validate = false
        }
        return validate
      },
      validateTemplateLen (object, step, msg) {
        var validate = true
        if(object.length == 0) {
          this.errors.push({
            message: msg,
            step: step
          })
          validate = false
        }
        return validate
      },
      validateTemplateNumFloat (object, step, msg) {
        var validate = true
        if(isNaN(parseFloat(object))) {
          this.errors.push({
            message: msg,
            step: step
          })
          validate = false
        }
        return validate
      },
      validateForm () {
        var validate_array = []
        var validate = true
        validate_array.push(this.validateTemplateStr(this.title, 1, 'Enter the Title'))
        validate_array.push(this.validateTemplateStr(this.desc, 1, 'Enter the Description item'))
        validate_array.push(this.validateTemplateStr(this.name, 2, 'Enter the Name item'))
        validate_array.push(this.validateTemplateStr(this.details, 2, 'Enter the Details Info item'))
        validate_array.push(this.validateTemplateKey('value', this.category, 2, 'Enter the Category'))
        validate_array.push(this.validateTemplateLen(this.images, 2, 'Upload the Photos'))
        //validate = this.validateTemplateKey('value', this.currency, 4, 'Enter the Currency')
        //validate = this.validateTemplateKey('value', this.rentPeriod, 3, 'Enter the Rent Period')
        validate_array.push(this.validateTemplateStr(this.FullPricePerPeriod, 3, 'Enter the Full PricePer Period'))
        validate_array.push(this.validateTemplateNumFloat(this.FullPricePerPeriod, 3, 'Error format Full PricePer Period'))
        //validate = this.validateTemplateStr(this.width, 4, 'Enter the Width')
        //validate = this.validateTemplateStr(this.height, 4, 'Enter the Height')
        validate_array.push(this.validateTemplateKey('value', this.city, 5, 'Enter the fields Country and City'))
        validate_array.push(this.validateTemplateLen(this.delivery_type, 5, 'Enter the Delivery Types'))
        var true_vals = 0;
        for(var i = 0; i < validate_array.length; i++) {
          if(validate_array[i]) {
            true_vals++
          }
        }
        if(true_vals != validate_array.length) {
          this.step = this.errors[0].step
        }
        return true_vals == validate_array.length ? true : false
      },
      onSubmit () {
        this.errors = []
        if(this.validateForm()) {
          var send_delivery_type = []
          if(this.delivery_type.length > 0) {
            for(var i = 0; i < this.delivery_type.length; i++) {
              send_delivery_type.push(this.delivery_type[i].value)
            }
          }
          this.loader = true
          var args = {
            Title: this.title,
            Description: this.desc, 
            RentItem: {
              Name: this.name,
            },
          }
          if(/*'value' in this.rentPeriod &&*/ this.FullPricePerPeriod != '') {
            args.RentConfiguration = {
              FullPricePerPeriod: this.FullPricePerPeriod,
              MaxRentDuration: this.maxRentDuration,
              MinRentDuration: this.minRentDuration,
              RentPeriod: 1,//this.rentPeriod.value,
              Currency: 3
            }
          }
          if('value' in this.city) {
            args.Location = {}
            args.Location.CityId = this.city.value 
            args.Location.Address = this.address
          }
          if('value' in this.category) {
            args.RentItem.ItemCategory = this.category.value
          }
          if('value' in this.gender) {
            args.RentItem.Gender = this.gender.value
          }
          if(this.details != '') {
            args.RentItem.Details = this.details
          }
          if(send_delivery_type.length > 0) {
            args.RentItem.DeliveryTypes = send_delivery_type
          }
          if(this.package.length > 0) {
            args.RentItem.Package = this.package
          }
          if(this.properties.length > 0) {
            args.RentItem.Properties = this.properties
          }
          if(this.images.length > 0) {
            args.RentItem.Photos = this.images
          }
          if(this.width != '' && this.height != '') {
            args.RentItem.Dimensions = {
              width: this.width,
              height: this.height,
              depth: this.depth,
              weight: this.weight,
              measureUnit : this.measureUnit.value
            }
          }
          if(this.update) {
            args.Id = this.update_info.Id
            args.RentConfiguration.Id = this.update_info.RentConfiguration.Id
            args.RentItem.Id = this.update_info.RentItem.Id
            this.$store
            .dispatch(UPDATE_ITEM, args).then((data) => {
              this.loader = false
            }).catch(() => {
              this.loader = false
            })
          } else {
            this.$store
            .dispatch(ADD_ITEM, args).then((data) => {
              this.loader = false
              //this.$router.go('/advertisements/' + data)
              this.$router.push({ name: 'item_page', params: { item_id: data }})
            }).catch(() => {
              this.loader = false
            })
          }
        }
      }
    },
    watch: {
      minRentDuration (val) {
        if(this.maxRentDuration < this.minRentDuration) {
          this.maxRentDuration = this.minRentDuration
          this.$refs['range2'].value = this.minRentDuration
        }
      },
      maxRentDuration (val) {
        if(this.maxRentDuration < this.minRentDuration) {
          this.minRentDuration = this.maxRentDuration
          this.$refs['range1'].value = this.maxRentDuration
        }
      },
      step (val) {
        if(val == 3) {
          if(!this.minRentDuration_f) {
            this.minRentDuration_f = true
          }
          if(!this.maxRentDuration_f) {
            this.maxRentDuration_f = true
          }
        }
      },
      country (val) {
        this.city_list = [];
        this.city = []
        this.$store
          .dispatch(FETCH_CITY_LIST, val.value)
      },
      getAllCategories (result) {
        this.categories = [];
        for(var i = 0; i < result.length; i++) {
          this.categories.push({
            label: result[i].Name,
            value: result[i].Id
          })
        }
      },
      getMeasureUnits (result) {
        this.measureUnits = [];
        for(var i = 0; i < result.length; i++) {
          this.measureUnits.push({
            label: result[i].Name,
            value: result[i].Id
          })
        }
      },
      getAllCurrencies (result) {
        this.currencies = [];
        for(var i = 0; i < result.length; i++) {
          this.currencies.push({
            label: result[i].Name,
            value: result[i].Id
          })
        }
      },
      getRentPeriods (result) {
        this.rentPeriods = [];
        for(var i = 0; i < result.length; i++) {
          this.rentPeriods.push({
            label: result[i].Name,
            value: result[i].Id
          })
        }
      },
      getAddErrors (result) {
        //this.errors = result;
      },
      getCountryList (result) {
        this.country_list = [];
        for(var i = 0; i < result.length; i++) {
          this.country_list.push({
            label: result[i].Name,
            value: result[i].Id
          })
        }
      },
      getCityList(result) {
        this.city_list = [];
        for(var i = 0; i < result.length; i++) {
          this.city_list.push({
            label: result[i].Name,
            value: result[i].Id
          })
        }
      },
      getGenderList(result) {
        this.genders = [];
        for(var i = 0; i < result.length; i++) {
          this.genders.push({
            label: result[i].Name,
            value: result[i].Id
          })
        }
      },
      getDeliveryTypes(result) {
        this.delivery_types = [];
        for(var i = 0; i < result.length; i++) {
          this.delivery_types.push({
            label: result[i].Name,
            value: result[i].Id
          })
        }
      }
    },
    mounted () {    
      this.step = 1
      if(this.$route.params.item_id != undefined) {
        this.update = true
      }
      this.$store
        .dispatch(FETCH_ALL_PROPERTIES)
        .then(() => {
          if(this.update) {
            this.$store
              .dispatch(GET_INFO_ITEM_BY_ID, this.$route.params.item_id)
              .then((data) => {
            this.update_info = data
            this.title = data.Title
            this.name = data.RentItem.Name
            this.desc = data.Description
            if(data.RentItem.Details) {
              this.details = data.RentItem.Details  
            }
            if(data.RentItem.ItemCategory) {
              this.category = {
                label: data.RentItem.ItemCategory.Name,
                value: data.RentItem.ItemCategory.Id
              }
            }
            if(data.RentItem.Gender) {
              for(var i = 0; i < this.genders.length; i++) {
                if(this.genders[i].label == data.RentItem.Gender) {
                  this.gender = {
                    label: this.genders[i].label,
                    value: this.genders[i].value
                  }
                  continue;
                }
              }
              
            }
            if(data.RentItem.Photos.length > 0) {
              this.load_img = data.RentItem.Photos
            }
            if(data.RentConfiguration.RentPeriod) {
              this.rentPeriod = {
                value: data.RentConfiguration.RentPeriod.Id,
                label: data.RentConfiguration.RentPeriod.Name
              }
            }
            if(data.RentConfiguration.Currency) {
              this.currency = {
                value: data.RentConfiguration.Currency.Id,
                label: data.RentConfiguration.Currency.Name
              }
            }
            if(data.RentConfiguration.FullPricePerPeriod) {
              this.FullPricePerPeriod = data.RentConfiguration.FullPricePerPeriod
            }
            if(data.RentConfiguration.MinRentDuration) {
              this.minRentDuration = data.RentConfiguration.MinRentDuration
            }
            if(data.RentConfiguration.MaxRentDuration) {
              this.maxRentDuration = data.RentConfiguration.MaxRentDuration
            }
            if(data.Location.Address) {
              this.address = data.Location.Address
            }
            var self_data = data
            this.$store
              .dispatch(FETCH_COUNTRY_LIST)
              .then((data) => {
                if(self_data.Location.CountryId) {
                  for(var item in this.country_list) {
                    if(this.country_list[item].value == self_data.Location.CountryId) {
                      this.country = {
                        label: this.country_list[item].label,
                        value: this.country_list[item].value
                      }

                      this.$store
                        .dispatch(FETCH_CITY_LIST, this.country.value)
                        .then((data) => {
                          if(self_data.Location.CityId) {
                            for(var item in this.city_list) {
                              if(this.city_list[item].value == self_data.Location.CityId) {
                                this.city = {
                                  label: this.city_list[item].label,
                                  value: this.city_list[item].value
                                }
                                continue;
                              }
                            }
                          }
                        })
                      continue;
                    }
                  }
                }
              })
            
            if(data.RentItem.Dimensions) {
              if(data.RentItem.Dimensions.Width) {
                this.width = data.RentItem.Dimensions.Width
              }
              if(data.RentItem.Dimensions.Height) {
                this.height = data.RentItem.Dimensions.Height 
              }
              if(data.RentItem.Dimensions.Depth) {
                this.Depth = data.RentItem.Dimensions.depth
              }
              if(data.RentItem.Dimensions.Weight) {
                this.weight = data.RentItem.Dimensions.Weight
              }
              if(data.RentItem.Dimensions.MeasureUnit) {
                for(var item in this.measureUnits) {
                  if(this.measureUnits[item].label == data.RentItem.Dimensions.MeasureUnit) {
                    this.measureUnit = {
                      label: this.measureUnits[item].label,
                      value: this.measureUnits[item].value
                    }
                    continue;
                  }
                }
              }
            }
            if(data.RentItem.DeliveryTypes.length > 0) {
              for(var item in data.RentItem.DeliveryTypes) {
                this.delivery_type.push({
                  value: data.RentItem.DeliveryTypes[item].DeliveryType.Id,
                  label: data.RentItem.DeliveryTypes[item].DeliveryType.Name
                })  
              }
            }
            if(data.RentItem.Package.length > 0) {
              this.package = data.RentItem.Package
            }
            if(data.RentItem.Properties.length > 0) {
              this.properties = data.RentItem.Properties
            }
          })
        }
      })
      if(!this.update) {
        this.$store
          .dispatch(FETCH_COUNTRY_LIST)
      }
      
    }
  }
</script>