<template>
   <div class="profile-page">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <RappProfileMenu></RappProfileMenu>
        </div>
        <div class="col-md-8 col-sm-12">  
          <div class="bookings-profile">
            <div class="main-booking-menu">
              <router-link class=""
                active-class="active"
                exact
                :to="{ path: '/bookings/incoming' }">

                <i class="fas fa-sign-in-alt"></i> Incoming Bookings
              </router-link>
              <router-link class=""
                active-class="active"
                exact
                :to="{ path: '/bookings/outgoing' }">
                <i class="fas fa-sign-out-alt"></i> Outgoing Bookings
              </router-link>
            </div>
            <div class="loader-booking-wrp" v-if="load">
              <div class="loader-booking"></div>
            </div>
            <div class="outgoing-bookigns-list">
              <div class="outgoing-bookign" v-for="(item, i) in list">
                <router-link :to="{ name: 'item_page', params: { item_id: item.Advertisement.Id } }"> 
                  <div class="outgoing-bookign-image">
                    <img :src="item.Advertisement.CoverPhoto.CloudUrl" alt="">
                    <div class="">{{ item.Status.Name }}</div>
                  </div>
                </router-link>
                <div class="outgoing-bookign-info">
                  <router-link :to="{ name: 'item_page', params: { item_id: item.Advertisement.Id } }"> 
                    <div class="outgoing-bookign-title">
                      {{ item.Advertisement.Title }}
                    </div>
                  </router-link>
                  <div class="outgoing-bookign-params">
                    <span>Start Date</span>
                    <span>{{ moment(item.StartDate).format('YYYY-MM-DD') }} </span>
                  </div>
                  <div class="outgoing-bookign-params">
                    <span>End Date</span>
                    <span>{{ moment(item.EndDate).format('YYYY-MM-DD') }} </span>
                  </div>
                  <div class="outgoing-bookign-params">
                    <span>Full Price Per Period</span>
                    <span>{{ item.Advertisement.FullPricePerPeriod }} <b>EVT</b></span>
                  </div>
                </div>
                <div class="load-booking-evet" v-show="load_a == i">
                  <div class=""></div>
                </div>
                <a href="" class="approve-booking" @click.prevent="approveBookig(item, i)" v-if="type == 'in' && item.Status.Id == 0"><i class="fas fa-thumbs-up"></i></a>
                <a href="" class="delete-outgoing-booking" @click.prevent="delete_item = item; $modal.show('deleteBooking')"><i class="fas fa-trash"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <modal name="deleteBooking" classes="template-popup-action" :min-height="1" width="400" height="auto" :adaptive="true">
      <div class="template-popup-info">
        <div class="title-popup">Delete {{ type == 'in' ? 'Incoming' : 'Outgoing' }} Booking?</div>
      </div>
      <div class="template-popup-button">
        <a href="" @click.prevent="deleteBooking">Yes</a>
        <a href="" @click.prevent="$modal.hide('deleteBooking')">No</a>
      </div>
    </modal>
    <modal name="errorBooking" classes="template-popup-action" :min-height="1" width="400" height="auto" :adaptive="true">
      <div class="template-popup-info">
        <div class="title-popup">{{ error }}</div>
      </div>
      <div class="template-popup-button">
        <a href="" @click.prevent="$modal.hide('errorBooking')" style="width: 100%">Close</a>
      </div>
    </modal>
  </div>
</template>
<script>
  import { mapGetters } from 'vuex'
  import RappProfileMenu from '@/components/ProfileMenu'
  import moment from 'moment'
  
  import { 
    GET_OUT_BOOKINGS,
    DELETE_OUT_BOOKIGN,
    GET_IN_BOOKINGS,
    DELETE_IN_BOOKIGN,
    APPROVE_BOOKIGN
  } from '@/store/actions.type'

  export default {
    name: 'RwvBookings',
    data () {
      return {
        type: '',
        load: false,
        list: [],
        delete_item: '',
        load_a: -1,
        error: ''
      }
    },
    components: {
      RappProfileMenu
    },
    methods: {
      approveBookig (item, i) {
        this.load_a = i
        this.$store
            .dispatch(APPROVE_BOOKIGN, item.Id)
            .then((data) => {
              if(data == '') {
                if(this.type == 'in') {
                }
                if(this.type == 'out') {
                }
                this.list[i].Status.Name = "Approved"
                this.list[i].Status.Id = 3
              }
              this.load_a = -1
              if(data != '') {
                this.$modal.show('errorBooking')
                this.error = data
              }
            })
            .catch((response) => {
              this.load_a = -1
            })
      },
      deleteBooking () {
        if(this.type == 'in') {
          this.$store
            .dispatch(DELETE_IN_BOOKIGN, this.delete_item.Id)
            .then((data) => {
              this.$modal.hide('deleteBooking')
            })
        } 
        if(this.type == 'out') {
          this.$store
            .dispatch(DELETE_OUT_BOOKIGN, this.delete_item.Id)
            .then((data) => {
              this.$modal.hide('deleteBooking')
            })
        } 
      },
      setTypeBookingShow(name) {
        this.load = true
        this.list = []
        if(name == 'outgoing_booking_page') {
          this.type = 'out'
          this.loadOutBooking()
        } 
        if(name == 'incoming_booking_page') {
          this.type = 'in'
          this.loadInBooking()
        } 
        if(this.type == '') {
          this.load = false
        }
      },
      loadOutBooking () {
        this.$store
          .dispatch(GET_OUT_BOOKINGS)
          .then((data) => {
            this.load = false
            this.list = data
          })
      },
      loadInBooking () {
        this.$store
            .dispatch(GET_IN_BOOKINGS)
            .then((data) => {
              this.load = false
              this.list = data
            })
      },
    },
    watch: {
      $route (val) {
        this.type = ''
        this.setTypeBookingShow(val.name)
      }
    },
    mounted () {
      this.setTypeBookingShow(this.$route.name)
    }
  } 
</script>