<template>
  
</template>

<script>
  import { mapGetters } from 'vuex'
  import { FETCH_TAGS } from '@/store/actions.type'

  export default {
    name: 'home',
    mounted () {
      
    },
    computed: {
      ...mapGetters([
        'isAuthenticated',
      ])
    }
  }
</script>
