<template>
  <div class="page-item-template">
    <div class="loader-item-main" v-if="load">
    </div>
    <div class="not-found-item" v-if="not_found && !load">
      Item Not Found
      <br>
      <a href="" @click.prevent="$router.push({ name: 'search_page'})">Find...</a>
    </div>

    <div class="page-item-single" v-if="!not_found && !load">
      <div class="container">
        <div class="row" style="position: relative;">
          <div class="page-item-info-wrp col-md-8" v-if="item.RentItem">
            <h2 class="page-item-info-title">{{ item.Title }}</h2>
            <div class="page-item-info-image-mains-slider">
              <slick :options="slider_main_options" @init="handleInit">
                <div class="page-item-info-image-mains-slider-slide" @click="index = 0" v-for="(photo, i) in item.RentItem.Photos" v-if="!photo.IsThumbnail">
                  <img :src="photo.CloudUrl" class="page-item-info-image-mains-slider-item">
                </div>
              </slick>
            </div>
            <vue-gallery-slideshow :images="images" :index="index" @close="index = null"></vue-gallery-slideshow>
            <div class="page-item-info-rows">
              <RwvItemProperty :hr="true" :data="[
                {
                  label: 'Name', 
                  value: item.RentItem.Name
                },
                {
                  label: 'Description',
                  value: item.Description
                },
                {
                  label: 'Category',
                  value: item.RentItem.ItemCategory.Name
                },
                {
                  label: 'Gender',
                  value: item.RentItem.Gender ? item.RentItem.Gender.Name : ''
                }
              ]"></RwvItemProperty>
              <RwvItemProperty :hr="true" :data="[
                {
                  label: 'Country',
                  value: item.Location.Country
                },
                {
                  label: 'City',
                  value: item.Location.City
                },
                {
                  label: 'Address',
                  value: item.Location.Address
                }
              ]"></RwvItemProperty>
              <RwvItemProperty :hr="true" :data="item.RentItem.Dimensions != null ? [
                {
                  label: 'Width',
                  value: item.RentItem.Dimensions.Width
                },
                {
                  label: 'Height',
                  value: item.RentItem.Dimensions.Height
                },
                {
                  label: 'Depth',
                  value: item.RentItem.Dimensions.Depth
                },
                {
                  label: 'Weight',
                  value: item.RentItem.Dimensions.Weight
                },
                {
                  label: 'Measure Unit',
                  value: item.RentItem.Dimensions.MeasureUnit.Name
                }
              ]: []"></RwvItemProperty>
              <RwvItemProperty :hr="true" :data="[
                {
                  label: 'Deliveries',
                  value: delivery_str.join(',')
                },
              ]"></RwvItemProperty>
              <RwvItemProperty :hr="true" :title="'Package'" :data="package"></RwvItemProperty>
              <RwvItemProperty :hr="true" :title="'Properties'" :data="properties"></RwvItemProperty>
            </div>
            <div class="page-item-details-info">{{ item.RentItem.Details }}</div>
          </div>
          <div class="page-item-info-rent col-md-3" v-if="item.RentItem">
            <div class="page-item-info-rent-price">
              {{ item.RentConfiguration.FullPricePerPeriod }}
              <i class="fas fa-dollar-sign" v-if="item.RentConfiguration.Currency.Id == 0"></i>
              <i class="fas fa-euro-sign" v-if="item.RentConfiguration.Currency.Id == 1"></i>
              <i class="fas fa-ruble-sign" v-if="item.RentConfiguration.Currency.Id == 2"></i>
              <i class="" v-if="item.RentConfiguration.Currency.Id == 3">EVT</i>
            </div>
            <div class="page-item-info-rent-period">
              Rent Period: {{ item.RentConfiguration.RentPeriod.Name }} <br>
              Min Rent Duration: {{ item.RentConfiguration.MinRentDuration }} <br>
              Max Rent Duration: {{ item.RentConfiguration.MaxRentDuration }}
            </div>
            <a href="" class="page-item-info-rent-button" v-if="item.Status.Id != 0" @click.prevent="createBookingModal">Rent</a>
            <!--<a href="" class="page-item-info-rent-button-show-number">Show number</a>-->
          </div>
        </div>
      </div>
      <modal name="successCreateBooking" classes="template-popup-action" :min-height="1" width="600" height="auto" :adaptive="true">
        <div class="template-popup-info">
          <div class="title-popup-booking">Booking request sent</div>
        </div>
        <div class="template-popup-button">
          <router-link
            :to="{ name: 'outgoing_booking_page' }">
            Show Outgoing Booking
          </router-link>
          <a href="" @click.prevent="$modal.hide('successCreateBooking')">Close</a>
        </div>
      </modal>
      <modal name="createBooking" classes="template-popup-action" :min-height="1" width="600" height="auto" :adaptive="true">
        <div class="template-popup-info">
          <div class="title-popup-booking">Create Booking</div>
        </div>
        <div class="booking-form">
          <form @submit.prevent=createBooking>
            <div class="booking-form-datetime-wrp">
              <div class="booking-form-datetime" id="start_date">
                <div class="booking-form-datetime-label">
                  Start datetime booking
                </div>
                <datetime 
                  week-start="1"
                  type="date" 
                  v-model="datetime_start" 
                  class="theme-booking" 
                  format="yyyy-MM-dd"
                  value-zone="UTC+3"
                  :min-datetime="moment().format('YYYY-MM-DDTHH:mm:ss')" 
                >
                </datetime>  
              </div>
              <div class="booking-form-datetime" id="end_date" v-if="datetime_start">
                <div class="booking-form-datetime-label">
                  End datetime booking
                </div>
                <datetime 
                  week-start="1"
                  type="date" 
                  v-model="datetime_end" 
                  class="theme-booking"  
                  format="yyyy-MM-dd"
                  value-zone="UTC+3"
                  :min-datetime="moment(datetime_start).add(2, 'days').format('YYYY-MM-DDTHH:mm:ss')" 
                  >
                </datetime>  
              </div>
            </div> 
            <div class="booking-form-phrase" v-if="datetime_end != ''" id="secretphrase">
              <div class="booking-form-phrase-label">Secret Phrase Wallet</div>
              <input class="form-control" v-model="secretphrase" />
            </div>
            <div class="info-rent-period-modal" v-if="error != ''">
              <!--Rent Period: <b>{{ item.RentConfiguration.RentPeriod.Name }}</b> <br>
              Min Rent Duration: <b>{{ item.RentConfiguration.MinRentDuration }}</b> <br>
              Max Rent Duration: <b>{{ item.RentConfiguration.MaxRentDuration }}</b>-->
              {{ error }}
            </div>
            <div class="template-popup-button">
              <button>
                Rent
                <span class="loader-button-2" v-if="booking_add"></span>
              </button>
              <a href="" @click.prevent="$modal.hide('createBooking')">Cancel</a>
            </div>
          </form>
        </div>
      </modal>
    </div>  
  </div>
</template>
<script>
  import { mapGetters } from 'vuex'
  import RwvItemProperty from '@/components/ItemProperty'
  import moment from 'moment'

  import { 
    GET_INFO_ITEM_BY_ID,
    CREATE_BOOKING
  } from '@/store/actions.type'
  export default {
    name: 'RappItemAdv',
    components: {
      RwvItemProperty
    },
    computed: {
      ...mapGetters([
        'getErrorCreateBooking',
      ]),
    },
    data () {
      return {
        item: [],
        slider_main_options: {
          adaptiveHeight: true,
          dots: true,
          nextArrow: '<a href="" class="slider-arrow right"><i class="fa fa-angle-right"></i></a>',
          prevArrow: '<a href="" class="slider-arrow left"><i class="fa fa-angle-left"></i></a>',
        },
        delivery_str: [],
        package: [],
        properties: [],
        scroll_init: false,
        slick: '',
        datetime_start: '',
        datetime_end: '',
        not_found: false,
        inform_period: false,
        load: true,
        index: null,
        images: [],
        error: '',
        secretphrase: '',
        booking_add: false
      }
    },
    methods: {
      redirectOutGoingBookings () {
        this.$router.push({ name: 'outgoing_booking_page' })
        this.$modal.hide('successCreateBooking')
      },
      createBooking () {
        var flag = true 
        if(this.datetime_start == '') {
          flag = false
          document.querySelector("#start_date").classList.add("error_date")
          setTimeout(function() {
            document.querySelector("#start_date").classList.remove("error_date")
          }, 1000)
        }
        if(this.datetime_end == '') {
          flag = false
          if(document.querySelector("#end_date")) {
            document.querySelector("#end_date").classList.add("error_date")
            setTimeout(function() {
              document.querySelector("#end_date").classList.remove("error_date")
            }, 1000)
          }
        }
        if(this.secretphrase == '') {
          flag = false
          if(document.querySelector("#secretphrase")) {
            document.querySelector("#secretphrase").classList.add("error_date")
            setTimeout(function() {
              document.querySelector("#secretphrase").classList.remove("error_date")
            }, 1000)
          }
        }
        if(flag) {
          this.booking_add = true
          
          this.$store
          .dispatch(CREATE_BOOKING, {
            RentItemId: this.item.Id,
            StartDate: this.datetime_start.split('.0')[0].split('T')[0],
            EndDate: this.datetime_end.split('.0')[0].split('T')[0],
            SecretPhrase: this.secretphrase
          })
          .then((data) => {
            if(data == '') {
              this.error = ''
              this.datetime_end = ''
              this.datetime_start = ''
              this.$modal.hide('createBooking')
              this.$modal.show('successCreateBooking')
            }
            this.booking_add = false
          })
        }
      },
      createBookingModal () {
        this.$modal.show('createBooking')
      },
      handleInit (event, slick) {
        this.slick = slick
      },
      scrollRentInfo () {
        if(this.scroll_init) {
          if(document.querySelector(".page-item-info-wrp") != null) {
            var top = document.documentElement.scrollTop
            var offset = document.querySelector("header").offsetHeight
            var offset_2 = document.querySelector(".page-item-info-wrp").offsetTop
            
            if(top < offset) {
              document.querySelector(".page-item-info-rent").style.top = 0 + "px"
            } else {
              document.querySelector(".page-item-info-rent").style.top = top - offset + "px"
            }
          }
        }
      }
    },
    watch: {
      getErrorCreateBooking (val) {
        this.error = val
      },
      datetime_start (val) {
        this.datetime_end = moment(this.datetime_start).add(1, 'days').format('YYYY-MM-DDTHH:mm:ss')
      },
      datetime_end (val) {
        /*var period = this.item.RentConfiguration.RentPeriod.Id
        var MinRentDuration = this.item.RentConfiguration.MinRentDuration
        var MaxRentDuration = this.item.RentConfiguration.MaxRentDuration
        var start = moment(this.datetime_start)
        var end = moment(val)
        var res = false
        var type = ''
        if(period == 0) {
          type = 'hours'
        }
        if(period == 1) {
          type = 'days'
        }
        if(period == 2) {
          type = 'months'
        }
        var diff = end.diff(start, type)
        if(diff >= MinRentDuration && diff <= MaxRentDuration) {
          res = true
        }
        if(!res) {
          document.querySelector("#end_date").classList.add("error_date")
          setTimeout(function() {
            document.querySelector("#end_date").classList.remove("error_date")
            document.querySelector("#end_date input").value = ''
          }, 1000)
          this.datetime_end = ''
          this.inform_period = true
        }*/
      },
      slick (val) {
        setTimeout(function() {
          val.setPosition()
        }, 100)
        
      }
    },
    mounted () {

      var self = this
      window.onscroll = function() {self.scrollRentInfo()}
      this.$store
        .dispatch(GET_INFO_ITEM_BY_ID, this.$route.params.item_id)
        .then((data) => {
          if(data == 'Error: [RWV] ApiService Error: Request failed with status code 404') {
            this.not_found = true
            this.load = false
          } else {
            this.item = data
            for(var i = 0; i < data.RentItem.Photos.length; i++) {
              if(!data.RentItem.Photos[i].IsThumbnail) {
                this.images.push(data.RentItem.Photos[i].CloudUrl)
              }
            }
            for(var type in data.RentItem.Deliveries) {
              this.delivery_str.push(data.RentItem.Deliveries[type].DeliveryTypeName)
            }
            for(var type in data.RentItem.Package) {
              this.package.push({
                label: data.RentItem.Package[type].ObjectName,
                value: data.RentItem.Package[type].Quantity
              })
            }
            for(var type in data.RentItem.Properties) {
              this.properties.push({
                label: data.RentItem.Properties[type].Name,
                value: data.RentItem.Properties[type].Value
              })
            }
            this.not_found = false
            this.load = false
            this.scroll_init = true
          }
        })
        .catch((response) => {
          this.not_found = true
          this.load = false
        })
    }
  }
</script>
