<template>
  <div class="auth-page">
    <div class="container page h-100">
      <div class="row h-100">
        <div class="col-md-6 offset-md-3 col-xs-12 margin-a">
          <div class="card auth-page-wrp">
            <h1 class="text-xs-center">Sign in</h1>
            <p class="text-xs-center">
              <router-link 
                :to="{ name: 'register' }"
                class="link-login-form trs hover-base-color"
              >
                Need an account?
              </router-link>
            </p>
            <ul class="error-list">
              <li v-for="error in errors">{{ error }}</li>
            </ul>
            <form v-on:submit.prevent="onSubmit(email, password, grant_type)">
              <fieldset class="form-group">
                <input
                  class="form-control form-control-lg"
                  type="text"
                  v-model="email"
                  placeholder="Email">
              </fieldset>
              <fieldset class="form-group">
                <input
                  class="form-control form-control-lg"
                  :type="type"
                  v-model="password"
                  placeholder="Password">
                  <RappViewPassword @type="getType"></RappViewPassword>
              </fieldset>
              <button class="btn btn-lg btn-primary template-button">
                Sign in <span class="loader-button" v-if="loader"></span>
              </button>
            </form>
          </div>
        </div>
      </div> 
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import { LOGIN } from '@/store/actions.type'
import RappInputCheck from '@/components/InputCheck'
import RappViewPassword from '@/components/ViewPassword'

export default {
  name: 'RappLogin',
  components: {
    RappViewPassword
  },
  data () {
    return {
      email: null,
      password: null,
      type:'password',
      grant_type:'password',
      loader: false
    }
  },
  methods: {
    getType(data) {
      this.type = data
    },
    onSubmit (email, password, grant_type) {
      this.loader = true
      this.$store
        .dispatch(LOGIN, {
          email: email,
          password: password
        })
        .then(() => {
          this.loader = false
          this.$router.push({ name: 'profile_items' })
        })
    }
  },
  watch: {
    errors (val) {
      if(val.length > 0) {
        this.loader = false
      }
    }
  },
  computed: {
    ...mapState({
      errors: state => state.auth.errors
    })
  }
}
</script>
