<template>
<div class="profile-page">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <RappProfileMenu></RappProfileMenu>
      </div>  
      <div class="col-md-8 col-sm-12 template-content-profile">  
        <div class="template-content-profile-wrp">
          <h3>My Advertisements: <a href="" v-if="items.length > 0" :class="'open-filter-profile' + (filter ? ' open' : '')" @click.prevent="openFilter"><i class="fas fa-filter"></i></a></h3>
          <div class="profile-items-filter clearfix" v-show="filter">
            <RappTemplateSelect :label="'Category'" :data="categories" @blur="e => category = e"></RappTemplateSelect>          
          </div>
          <div class="list-profile-items row">
            <div class="col-md-4 col-sm-6" v-for="(item, i) in items" v-show="filterItem(item, i)">
              <div class="item-profile">
                <router-link :to="{ name: 'item_page', params: { item_id: item.Id } }"> 
                  <!--<div class="item-profile-img" :style="
                  { 
                    'background': 'url(' + item.CoverPhoto.CloudUrl + ') no-repeat',
                    'background-position': 'center center',
                    'background-size': 'cover'
                  }">-->
                  <div class="item-profile-img">
                    <img :src="item.CoverPhoto ? item.CoverPhoto.CloudUrl : ''">
                    <span class="item-profile-status">{{ item.Status.Name }}</span>
                    <span class="item-profile-cateogry">{{ item.Category.Name }}</span>
                  </div>
                </router-link>
                <div class="item-profile-info">
                  <router-link :to="{ name: 'item_page', params: { item_id: item.Id } }"> 
                    <div class="item-profile-title">{{ item.Title }}</div>
                  </router-link>
                  <div class="item-profile-tools">
                    <router-link :to="{ name: 'profile_item_edit', params: { item_id: item.Id } }"> 
                      <i class="fas fa-pen"></i>
                    </router-link>
                    <a href="" @click.prevent="openDialogDelete(item)"><i class="fas fa-trash-alt"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="profile-items-button" v-show="load">
            <div class="loader"></div>
          </div>
          <div class="profile-items-paginate">
            <paginate
              v-model="page"
              v-if="max/count_page > 1"
              :page-count="max/count_page"
              :click-handler="clickPagination"
              :prev-text="'Prev'"
              :next-text="'Next'"
              :container-class="'templatePagination'">
            </paginate>
          </div>
        </div>
        <modal name="deleteItemDialog" classes="template-popup-action" :min-height="1" width="500" height="auto" :adaptive="true">
          <div class="template-popup-info">
            <div class="title-popup">Delete ad <b>{{ deleteItem.Title }}</b>?</div>
          </div>
          <div class="template-popup-button">
            <a href="" @click.prevent="deleteItemYes">Yes</a>
            <a href="" @click.prevent="hideDialog">No</a>
          </div>
        </modal>
      </div> 
    </div>

  </div>
</template>
<script>
  import {mapGetters} from 'vuex'
  import RappProfileMenu from '@/components/ProfileMenu'
  import RappTemplateSelect from'@/components/TemplateSelectField'
  import { 
    FETCH_PROFILE_ITEMS,
    DELETE_ITEM,
    FETCH_ALL_PROPERTIES,
    GET_INFO_ITEM_BY_ID
  } from '@/store/actions.type'
  

  export default {
    name: 'RwvProfile',
    components: {
      RappProfileMenu,
      RappTemplateSelect
    },
    data () {
      return {
        items: [],
        count_page: 6,
        categories: [],
        status_list: [],
        category: '',
        status: '',
        load: false,
        deleteItem: '',
        filter: false,
        max: 0,
        page: 1
      }
    },
    methods: {
      loadItems(page) {
        this.load = true
        this.items = []
        this.$store
          .dispatch(FETCH_PROFILE_ITEMS, page)
      },
      clickPagination (page) {
        this.page = page
        this.loadItems(page - 1)
      },
      openFilter () {
        this.filter =  this.filter ? false : true
      },
      deleteItemYes () {
        this.$store
        .dispatch(DELETE_ITEM, this.deleteItem.Id)
        for(var i = 0; i < this.items.length; i++) {
          if(this.items[i].Id == this.deleteItem.Id) {
            this.items[i].Status = {
              Id: 5,
              Name: 'Deleted'
            }
          }
        }
        this.$modal.hide('deleteItemDialog')
      },
      hideDialog () {
        this.$modal.hide('deleteItemDialog')
      },
      openDialogDelete (item) {
        this.deleteItem = item
        this.$modal.show('deleteItemDialog')
      },
      filterItem (item, index) {

        var res = false
        var exp = (this.category == null || this.category == '')
        var exp_2 = (this.status == '' || this.status == null)
        if(exp && exp_2) {
          res = true
        }
        if(!exp && exp_2) {
          if(this.category.value == item.Category.Id) {
            res = true
          }
        }
        if(exp && !exp_2) {
          if(this.status.value == item.Status.Id) {
            res = true
          }
        }
        if(!exp && !exp_2) {
          if(this.category.value == item.Category.Id && this.status.value == item.Status.Id)  {
            res = true
          }
        }
        return res
      },
    },
    computed: {
      ...mapGetters([
        'getProfileItems',
        'getAllCategories',
        'getStatusList'
      ])
    },
    watch: {
      category (val) {
        this.filter = false
      },
      getAllCategories (result) {
        this.categories = [];
        for(var i = 0; i < result.length; i++) {
          this.categories.push({
            label: result[i].Name,
            value: result[i].Id
          })
        }
      },
      getStatusList (result) {

        this.status_list = [];
        for(var i = 0; i < result.length; i++) {
          this.status_list.push({
            label: result[i].Name,
            value: result[i].Id
          })
        }
      },
      getProfileItems (value) {
        this.items = value.Advertisements
        this.max = value.TotalCount
        this.load = false
      }
    },
    mounted () {
      this.loadItems(this.page - 1)
      if(this.status_list.length == 0) {
        this.$store
          .dispatch(FETCH_ALL_PROPERTIES)
      }
    },

  }
</script>
