<template>
  <div class="auth-page">
    <div class="container page h-100">
      <div class="row h-100">
        <div class="col-md-6 offset-md-3 col-xs-12 margin-a">
          <div class="card auth-page-wrp">
            <h1 class="text-xs-center">Sign up</h1>
            <p class="text-xs-center">
              <router-link 
              :to="{ name: 'login' }"
              class="link-login-form trs hover-base-color"
              >
                Have an account?
              </router-link>
            </p>
            <ul class="error-list">
              <li v-for="error in errors">{{ error }}</li>
            </ul>
            <form @submit.prevent="onSubmit">
              <fieldset class="form-group">
                <input class="form-control form-control-lg" type="text" v-model="firstName" placeholder="First Name">
                <RappInputCheck :type_validate="'text'" :st="firstName"></RappInputCheck>
              </fieldset>
              <fieldset class="form-group">
                <input class="form-control form-control-lg" type="text" v-model="lastName" placeholder="Last Name">
                <RappInputCheck :type_validate="'text'" :st="lastName"></RappInputCheck>
              </fieldset>
              <fieldset class="form-group">
                <input class="form-control form-control-lg" type="text" v-model="email" placeholder="Email">
                <RappInputCheck :type_validate="'email'" :st="email"></RappInputCheck>
              </fieldset>
               <fieldset class="form-group">
                <input class="form-control form-control-lg" type="text" v-model="phoneNumber" placeholder="Phone Number">
                <RappInputCheck :type_validate="'text'" :st="phoneNumber"></RappInputCheck>
              </fieldset>
              <fieldset class="form-group">
                <input class="form-control form-control-lg" :type="type" v-model="password" placeholder="Password">
                <RappViewPassword @type="getType"></RappViewPassword>
                <RappInputCheck :type_validate="'text'" :st="password"></RappInputCheck>
                
              </fieldset>
              <button class="btn btn-lg btn-primary template-button">
                Sign up <span class="loader-button" v-if="loader"></span>
              </button>
            </form>
          </div> 
        </div>
      </div>
    </div>
  </div>
</template>
<script>


import { mapState } from 'vuex'
import { REGISTER } from '@/store/actions.type'
import RappInputCheck from '@/components/InputCheck'
import RappViewPassword from '@/components/ViewPassword'


export default {
  name: 'RappRegister',
  components: {
    RappInputCheck,
    RappViewPassword
  },
  data () {
    return {
      firstName: '',
      lastName: '',
      email: '',
      phoneNumber: '',
      password: '',
      type:'password',
      loader: false
    }
  },
  methods: {
    getType(data) {
      this.type = data
    },
    onSubmit () {
      this.loader = true
      this.$store.dispatch(REGISTER, {
        firstName: this.firstName,
        lastName: this.lastName,
        email: this.email,
        password: this.password,
        phoneNumber: this.phoneNumber
      })
      .then(() => {
        this.loader = false
        this.$router.push({ name: 'profile_items' })
      })
    }
  },
  watch: {
    errors (val) {
      if(val.length > 0) {
        this.loader = false
      }
    }
  },
  computed: {
    ...mapState({
      errors: state => state.auth.errors
    })
  }
}
</script>
