<template>
  <div class="page-search">
    <div class="container">
      <div class="row">
        <div class="col-md-8 page-search-wrp">
          <div class="page-search-wrp-find">
            <div class="form-find">
              <form v-on:submit.prevent="page = 0; searchItems(true)">
                <input type="text" v-model="search">
                <button><i class="fas fa-search"></i></button>  
              </form>
            </div>
          </div>
          <div class="page-search-result row">
            <div class="col-md-4" v-for="(item, i) in items">
              <div class="item-search">
                <router-link :to="{ name: 'item_page', params: { item_id: item.Id } }">
                  <!--<div class="item-profile-img" :style="
                  { 
                    'background': 'url(' + item.CoverPhoto.Url + ') no-repeat',
                    'background-position': 'center center',
                    'background-size': 'cover'
                  }">-->
                  <div class="item-search-img">
                    <img :src="item.CoverPhoto ? item.CoverPhoto.CloudUrl : ''"> 
                    <span class="item-search-cateogry">{{ item.Category.Name }}</span>
                  </div>
                </router-link>
                <div class="item-search-info">
                  <router-link :to="'/item/' + item.Id"> 
                    <div class="item-search-title">{{ item.Title }}</div>
                  </router-link>
                </div>
              </div>
            </div>
          </div>
          <div class="loader-search-wrp" v-if="loader">
            <div class="loader-search"></div>
          </div>
          <div class="page-search-more-button" v-if="!loader">
            <a href="" @click.prevent="loadMore">Show more</a>
          </div>
        </div>
        <div class="col-md-3 page-search-filter offset-md-1" id="search_wrp">
          <RappTemplateSelect :label="'Category:'" :vm="category_vm" :change="true" :data="categories" @blur="e => category = e"></RappTemplateSelect>          
          <RappTemplateSelect :label="'Country:'" :vm="country_vm" :change="true" :data="country_list" @blur="e => country = e"></RappTemplateSelect>        
          <RappTemplateSelect v-if="city_list.length > 0" :vm="city_vm" :change="true" :label="'City'" :change="true" :vm="city" :data="city_list" @blur="e => city = e"></RappTemplateSelect>
          <a href="" class="apply-filter" @click.prevent="searchItems(true)">Apply</a>  
          <a href="" class="apply-filter close-filter" @click.prevent="toggleFilter(false)">Close</a>  
        </div>
      </div>
    </div>
    <a href="" class="openFilterSearch" @click.prevent="toggleFilter(true)"><i class="fas fa-filter"></i></a>
  </div>
</template>
<script>
  import {mapGetters} from 'vuex'
  import { 
    SEARCH_ITEMS,
    FETCH_ALL_PROPERTIES,
    FETCH_COUNTRY_LIST,
    FETCH_CITY_LIST,
  } from '@/store/actions.type'
  import RappTemplateSelect from'@/components/TemplateSelectField'

  export default {
    name: 'RwvSearch',
    data () {
      return {
        search: '',
        categories: [],
        category: null,
        category_vm: null,
        city_list: [],
        city: null,
        city_vm: null,
        country_list: [],
        country: null,
        country_vm: null,
        loader: false,
        page: 0, 
        items: [],
      }
    },
    components: {
      RappTemplateSelect
    },
    methods: {
      toggleFilter (f) {
        document.getElementById("search_wrp").style.display = f ? "block" : "none"
      },
      loadMore () {
        this.searchItems()
      },
      searchItems (clear = false) {
        if(window.innerWidth < 768) {
          this.toggleFilter(false)
        }
        this.loader = true
        if(clear) {
          this.items = [];  
        }
        var query = {}
        query['q'] = this.search
        if(this.category != null) {
          query['categoryId'] = this.category.value
        }
        if(this.country != null) {
          query['countryId'] = this.country.value
        }
        if(this.city != null) {
          query['cityId'] = this.city.value
        }
        this.$router.push({query: query})
        this.$store
          .dispatch(SEARCH_ITEMS, {
            q: this.search,
            categoryId: this.category != null ? this.category.value : '',
            cityId: this.city != null ? this.city.value : '',
            page: this.page
          }).then((data) => {
            this.loader = false
            this.items = this.items.concat(data)
            this.page++
          })
      }
    },
     computed: {
      ...mapGetters([
        'getAllCategories',
        'getCountryList',
        'getCityList',
      ])
    },
    watch: {
      city_list (val) {
        for(var i = 0; i < val.length; i++) {
          if(val[i].value == this.city.value) {

            this.city['label'] = val[i].label
            this.city_vm = {
              label: val[i].label,
              value: val[i].value
            }
          }
        }
      },
      category (val) {
        this.page = 0
      },
      city (val) {
        this.page = 0
      },
      country (val) {
        this.page = 0
        this.city_list = [];
        if(val != null) {
          this.$store
            .dispatch(FETCH_CITY_LIST, val.value)  
        } else {
          this.city = null
        }
        
      },
      getAllCategories (result) {
        this.categories = [];
        for(var i = 0; i < result.length; i++) {
          this.categories.push({
            label: result[i].Name,
            value: result[i].Id
          })
          if(this.category != null) {
            if(result[i].Id == this.category.value) {
              this.category['label'] = result[i].Name
              this.category_vm = {
                label: result[i].Name,
                value: result[i].Id
              }
            }
          }
        }
      },
      getCountryList (result) {
        this.country_list = [];
        for(var i = 0; i < result.length; i++) {
          this.country_list.push({
            label: result[i].Name,
            value: result[i].Id
          })
          if(this.country != null) {
            if(result[i].Id == this.country.value) {
              this.country['label'] = result[i].Name
              this.country_vm = {
                label: result[i].Name,
                value: result[i].Id
              }
            }
          }
        }
      },
      getCityList(result) {
        this.city_list = [];
        for(var i = 0; i < result.length; i++) {
          this.city_list.push({
            label: result[i].Name,
            value: result[i].Id
          })
        }
      },
    },
    mounted () {
      if(this.$route.query.q != undefined) {
        this.search = this.$route.query.q
      }
      if(this.$route.query.categoryId != undefined) {
        this.category = {}
        this.category['value'] = this.$route.query.categoryId
      }
      if(this.$route.query.countryId != undefined) {
        this.country = {}
        this.country['value'] = this.$route.query.countryId
      }
      if(this.$route.query.cityId != undefined) {
        this.city = {}
        this.city['value'] = this.$route.query.cityId
      }
      this.searchItems()
      this.$store
          .dispatch(FETCH_COUNTRY_LIST)

      this.$store
          .dispatch(FETCH_ALL_PROPERTIES)
    }
  }
</script>