<template>
  <div class="profile-page">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-12">
          <RappProfileMenu></RappProfileMenu>
        </div>
        <div class="col-md-8 col-12 setting-forms">  
          <div class="setting-forms-wrp">
            <div class="form-udpate-info">
              <div class="form-udpate-info-title"> 
                <h4>My information ({{ currentUser.login }})</h4>
              </div>
              <ul class="error-list">
                <li v-for="error in errors_settings1">{{ error }}</li>
              </ul>
              <form  @submit.prevent="onUpdateProfile">
                <RappTemplateInput :label="'First Name'" :vml="firstName" @blur="e => firstName = e.target.value"></RappTemplateInput>
                <RappTemplateInput :label="'Last Name'" :vml="lastName" @blur="e => lastName = e.target.value"></RappTemplateInput>
                <RappTemplateInput :label="'Phone Number'" :vml="phoneNumber" @blur="e => phoneNumber = e.target.value"></RappTemplateInput>
                <div class="button-setting-forms-wrp clearfix">
                  <button class="btn btn-lg btn-primary template-button">
                    Save
                  </button>
                  <div class="loader" v-show="loader"></div>
                  <div class="success-setting" v-show="success">
                    <i class="fas fa-user-check"></i>
                  </div>
                </div>
              </form>
            </div>

            <div class="form-udpate-info form-udpate-info2" v-show="false">
              <div class="form-udpate-info-title">
                <h3>Change Password</h3>
              </div>
              <ul class="error-list">
                <li v-for="error in errors_settings2">{{ error }}</li>
              </ul>
              <form @submit.prevent="onUpdatePassword">
                <fieldset class="form-group">
                  <input
                    class="form-control"
                    :type="type"
                    v-model="oldPassword"
                    placeholder="Old Password">
                  <RappViewPassword @type="getType"></RappViewPassword>
                </fieldset>
                
                <fieldset class="form-group">
                  <input
                    class="form-control"
                    :type="type1"
                    v-model="newPassword"
                    placeholder="New Password">
                    <RappViewPassword @type="getType1"></RappViewPassword>
                </fieldset>
                <fieldset class="form-group">
                  <input
                    class="form-control"
                    :type="type2"
                    v-model="newPasswordRepeated"
                    placeholder="The password again">
                    <RappViewPassword @type="getType2"></RappViewPassword>
                </fieldset>
                <div class="button-setting-forms-wrp clearfix"> 
                  <button class="btn btn-lg btn-primary template-button">
                    Save
                  </button>
                  <div class="loader" v-show="loader2"></div>
                  <div class="success-setting" v-show="success2">
                    <i class="fas fa-user-shield"></i>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import { mapGetters, mapState } from 'vuex'
  import { LOGOUT, UPDATE_USER, UPDATE_PASSWORD } from '@/store/actions.type'
  import RappProfileMenu from '@/components/ProfileMenu'
  import RappViewPassword from '@/components/ViewPassword'
  import RappTemplateInput from '@/components/TemplateInputField'

  export default {
    name: 'RwvSettings',
    data() {
      return {
        email: '',
        firstName: '',
        lastName: '',
        phoneNumber: '',
        oldPassword: '',
        newPassword: '',
        newPasswordRepeated: '',
        type: 'password',
        type1: 'password',
        type2: 'password',
        loader: false,
        loader2: false,
        errors_settings1: [],
        errors_settings2: [],
        success: false,
        success2: false,
      }
    },
    computed: {
      ...mapGetters([
        'currentUser',
        'getErrorSettingsUpdateInfo',
        'getErrorSettingsUpdatePassword'
      ])
    },
    components: {
      RappProfileMenu,
      RappViewPassword,
      RappTemplateInput
    },
    watch: {
      getErrorSettingsUpdateInfo(result) {
        this.errors_settings1 = result
      },
      getErrorSettingsUpdatePassword(result) {
        this.errors_settings2 = result
      },
      currentUser(result) {
        this.email = result.login
        this.firstName = result.firstName
        this.lastName = result.lastName
        this.phoneNumber = result.phoneNumber
      }
    },
    methods: {
      getType(data) {
        this.type = data
      },
      getType1(data) {
        this.type1 = data
      },
      getType2(data) {
        this.type2 = data
      },
      onUpdatePassword () {
        this.loader2 = true
        this.success2 = false
        this.errors_settings2 = []
        this.$store.dispatch(UPDATE_PASSWORD, {
          oldPassword: this.oldPassword,
          newPassword: this.newPassword,
          newPasswordRepeated: this.newPasswordRepeated,
        })
          .then(() => {
            var th = this
            setTimeout(function(){
              th.loader2 = false
              if(th.errors_settings2.length == 0) {
                th.success2 = true
              }
            }, 500)
            
          })
      },
      onUpdateProfile () {
        this.loader = true
        this.errors_settings1 = []
        this.success = false
        this.$store.dispatch(UPDATE_USER, {
          firstName: this.firstName,
          lastName: this.lastName,
          phoneNumber: this.phoneNumber,
          login: this.email,
        })
          .then(() => {
            var th = this
            setTimeout(function(){
              th.loader = false
              if(th.errors_settings1.length == 0) {
                th.success = true
              }
            }, 500)
            
          })
      },
      logout () {
        this.$store
          .dispatch(LOGOUT)
          .then(() => {
            this.$router.push({ name: 'home' })
          })
      }
    },
  }
</script>
