<template>
   <div class="profile-page">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <RappProfileMenu></RappProfileMenu>
        </div>

        <div class="col-md-8 col-sm-12">  
          <div class="wallets-profile">
            <h3>My wallets</h3>
            <a href="" class="button-add-wallet" @click.prevent="$modal.show('addNewWallet')">
              <i class="fas fa-plus"></i> 
            </a>
            <div class="wallets-loader-wrp" v-if="load">
              <div class="wallets-loader">
                
              </div>
            </div>
            <div class="wallets-list">
              <div class="wallet-item" v-for="(wallet,i) in wallets">
                <div class="wallet-item-show">
                  <div class="wallet-item-show-address">
                    {{ wallet.Address }}
                  </div>
                  <a href="" :class="'wallet-item-toggle' + (wallet.show ? ' open':'')" @click.prevent="showInfoWallet(wallet, i)">
                    <i class="fas fa-angle-right"></i>
                  </a>
                </div>
                <div class="wallet-item-info" v-show="wallet.show">
                  <div class="wallet-item-info-params">
                    <div class="">Balance:</div>
                    <div class="">{{ wallet.Balance }} EVT</div>
                  </div>
                  <div class="wallet-item-info-params">
                    <div class="">Status:</div>
                    <div class="" v-html="wallet.IsActive ? 'Active' : 'Not Active' "></div>
                  </div>
                  <a href="" :class="'change-status-wallet' + (!wallet.IsActive ? ' active' : ' noactive')" @click.prevent="changeStatus(wallet.Id, i)" v-html="!wallet.IsActive ? 'Activate Wallet' : 'Deactivate Wallet' "></a>
                  <!--<a href="" @click.prevent="deleteWallet(wallet.Id, i)" class="delete-wallet"><i class="fas fa-trash"></i></a>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <modal name="addNewWallet" classes="template-popup-action" :min-height="1" width="500" height="auto" :adaptive="true">
      <div class="template-popup-info">
        <div class="title-popup-booking">New wallet</div>
      </div>
      <div class="form-add-wallet">
        <form>
          <div class="form-add-wallet-label">Secret phrase</div>
          <input name="phrase" id="secretPhrase" v-model="secretPhrase"/>
          <a href="" class="form-add-wallet-key" @click.prevent="generateKey">
            <i class="fas fa-key"></i>
            <span>
              Generate Random Phrase
            </span>
          </a>
        </form>
        <div class="form-add-wallet-hint" v-if="hint">
          The secret phrase should consist of only <b>numbers</b> and <b>letters</b>.
          <br>
          The secret phrase must be between 20 and 30 characters long.
        </div>
      </div>
      <div class="template-popup-button">
        <a href="" @click.prevent="addNewWallet">
          Add
          <span class="loader-button-2" v-if="loader_add"></span>
        </a>
        <a href="" @click.prevent="$modal.hide('addNewWallet')">Cancel</a>
      </div>
    </modal>
  </div>
</template>
<script>
  import { mapGetters } from 'vuex'
  import RappProfileMenu from '@/components/ProfileMenu'
  import moment from 'moment'
  
  import { 
    ADD_WALLET,
    GET_WALLETS,
    ACTIVATE_WALLET,
    DEACTIVATE_WALLET
  } from '@/store/actions.type'

  export default {
    name: 'RwvWallets',
    data () {
      return {
        wallets: [],
        wallet_show: [],
        secretPhrase: '',
        loader_add: false,
        hint: false,
        load: false
      }
    },
    components: {
      RappProfileMenu
    },
    methods: {
      generateKey () {
        var text = "";
        var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

        for (var i = 0; i < 30; i++)
          text += possible.charAt(Math.floor(Math.random() * possible.length));

        this.secretPhrase = text
      },
      addNewWallet () {
        this.loader_add = true
        
        if(this.secretPhrase.length >= 20 && this.secretPhrase.length <= 30 && this.secretPhrase.match(/^[0-9a-zA-Z]+$/) != null) {
          var args = {
            secretPhrase: this.secretPhrase
          }
          this.$store
            .dispatch(ADD_WALLET, args)
            .then((data) => {
              this.loadWallets();
              this.loader_add = false
              this.$modal.hide('addNewWallet')
            })
            .catch((response) => {
              this.loader_add = false
            })
        } else {
          this.hint = true
          document.querySelector("#secretPhrase").classList.add("error_shake")
          this.loader_add = false
          setTimeout(function() {
            document.querySelector("#secretPhrase").classList.remove("error_shake")
          }, 1000)
          
        }
      },
      loadWallets () {
        this.wallets = []
        this.load = true
        this.$store
        .dispatch(GET_WALLETS)
        .then((data) => {
          this.load = false
          for(var i = 0; i < data.length; i++) {
            this.wallets.push({
              Address: data[i].Address,
              Balance: data[i].Balance,
              CreatedAt: data[i].CreatedAt,
              show: data[i].IsActive,
              IsActive: data[i].IsActive,
              Id: data[i].Id
            })
          }
        })
      },
      showInfoWallet (wallet, i) {
        this.wallets[i].show = !this.wallets[i].show
      },
      changeStatus (id, i) {
        if(this.wallets[i].IsActive) {
          this.$store
            .dispatch(DEACTIVATE_WALLET, id)
            .then((data) => {
              this.wallets[i].IsActive = false
            })
        } else {
          this.$store
            .dispatch(ACTIVATE_WALLET, id)
            .then((data) => {
              this.wallets[i].IsActive = true
            })
        }
      }
    },
    mounted () {
      this.loadWallets();
    }
  } 
</script>