<template>
  <footer>
    <div class="container clearfix">
      <div class="socials">
        <!--<a href="#">
          <i class="fab fa-facebook-f"></i>
        </a>-->
        <a href="https://www.instagram.com/activeuse_dapp" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
      <div class="copy">
        All right reserved © 2018
      </div>
    </div>
  </footer>
</template>
<script>
export default {
  name: 'RappFooter'
}
</script>
