<template>
  <header :class="'clearfix ' + current_class">
    <div class="container clearfix">
      <router-link class="navbar-brand"
        :to="!isAuthenticated ? { name: 'home' } : { name: 'settings' }">
        <img src="/static/img/logo.png" alt="">
      </router-link>
      <!--<a href="" :class="'header-button-category ' + (open_category ? 'open' : '')" @click.prevent="open_category = !open_category" v-if="currentUser.login">
        <div class="">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="">Categories</div>
      </a>-->
      <ul v-if="!isAuthenticated" class="nav nav-header nav-no-login">
        <li class="nav-item">
          <router-link class="nav-link"
            active-class="active"
            exact
            :to="{ name: 'login' }">
            <i class="fas fa-sign-in-alt"></i> Sign in
          </router-link>
        </li>
        <li class="nav-item">
          <router-link
            class="nav-link"
            active-class="active"
            exact
            :to="{ name: 'register' }">
            <i class="fas fa-user-plus"></i> Sign up
          </router-link>
        </li>
      </ul>

      <ul v-else class="nav nav-header">
        <li class="nav-item dd-open" v-if="currentUser.login">
          <router-link class="nav-link"
            active-class="active"
            exact
            :to="{ name: 'profile_items' }">
            <span class="icon-info" :style="{ 'background-image':'url(' + photo + ')', 'background-size':'cover', 'background-position':'center top'  }">{{ photo == '' ? (currentUser.firstName[0] + currentUser.lastName[0]) : '' }}</span>
            {{ currentUser.firstName }}
          </router-link>
          <div class="dropdown_menu-wrp">
            <div class="dropdown_menu">
              <ul>
                <li v-for="menu_item in menu">
                  <router-link :class="(menu_item.name == 'Bookings' && ($route.name == 'incoming_booking_page' || $route.name == 'outgoing_booking_page') ? ' active' : '')"
                    active-class="active"
                    exact
                    :to="{ name: menu_item.page }">
                    {{ menu_item.name }}
                  </router-link>
                </li>
                <li><a href="" @click.prevent="logout">Log out</a></li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
      <a href="/advertisements/add" class="button-add-item-header" v-if="currentUser.login && this.$route.path != '/'">
        Create Advertisements
      </a>
    </div>
    <div class="container">
      <div :class="'menu-category ' + (open_category ? 'open' : '')" v-if="currentUser.login">
        <ul>
          <li v-for="category in categories"><a href="">{{ category.Name }}</a></li>
        </ul>
      </div>
    </div>
    
    <div class="home-wrapper" v-show="current_class == 'main'" >
      <div class="container">
        <div class="row">
          <div class="col-md-10 offset-md-1 col-12">
            <div class="home-content">
              <h1 class="white-text">Active Use</h1>
              <p class="white-text">
                First rent items application based on cryptocurrency. 
                <br>Simple to use, fast to earn money.
              </p>
              <router-link
                class="white-btn"
                :to="{ name: 'login' }">
                Get Started!
              </router-link>
              <!--<router-link
                class="main-btn"
                :to="{ name: 'about' }">
                Learn more
              </router-link>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-img" v-show="current_class == 'main'" style="background-image: url('/static/img/bg.jpg');">
      <div class="overlay"></div>
    </div>
    <modal name="modalCheckWallets" classes="template-popup-action" :min-height="1" width="500" height="auto" :adaptive="true">
      <div class="template-popup-info">
        <div class="title-popup">You do not have wallets!</div>
      </div>
      <div class="template-popup-button">
        <a href="" @click.prevent="redirectAddWallet">Add</a>
        <a href="" @click.prevent="hideModal">Remind me later</a>
      </div>
    </modal>
  </header>
  
</template>
<script>
  import { mapGetters } from 'vuex'
  import moment from 'moment'

  import { 
    FETCH_ALL_PROPERTIES,
    LOGOUT
  } from '@/store/actions.type'

  export default {
    name: 'RappHeader',
    computed: {
      ...mapGetters([
        'currentUser',
        'isAuthenticated',
        'getAllCategories',
      ])
    },
    methods: {
      redirectAddWallet () {
        this.$router.push({ name: 'wallets_page' })
        this.$modal.hide('modalCheckWallets')
      },
      hideModal () {
        window.localStorage.wallet_notice = moment().format('YYYY-MM-DDTH:mm:ss')
        this.$modal.hide('modalCheckWallets')
      },
      logout () {
        this.$store
        .dispatch(LOGOUT)
        .then(() => this.$router.push({ name: 'home' }))
      }
    },
    watch: {
      currentUser(val) {
        if(this.isAuthenticated) {
          var time_flag = false
          if(window.localStorage.wallet_notice == undefined) {
            time_flag = true
          } else {
            var end = moment(window.localStorage.wallet_notice)
            var start = moment()
            var diff = start.diff(end, 'hours')
            if(diff >= 24) {
              time_flag = true
            }
          }
          if(!val.evtWalletExists && time_flag && val.evtWalletExists != undefined && this.$route.path != '/wallets') {
            this.$modal.show('modalCheckWallets')
          }
          if(this.currentUser.login && this.$route.path == '/') {
            //this.$router.push({ name: 'profile_items'})
          }
          if(this.currentUser.login.indexOf('alice') == 0) {
            this.photo = '/static/img/alice.jpg'
          }
          if(this.currentUser.login.indexOf('bob') == 0) {
            this.photo = '/static/img/bob.jpg'
          }
          if(this.currentUser.login.indexOf('eva') == 0) {
            this.photo = '/static/img/eva.jpg'
          }
        }
      },
      getAllCategories (result) {
        this.categories = result;
      },
      $route (val) {
        if(val.path == '/') {
          this.current_class = 'main'
        } else {
          this.current_class = ''
        }
      }
    },
    data () {
      return {
        open_category: false,
        categories: [],
        current_class: '',
        pathname: window.location.pathname,
        photo: '',
        menu: [
          { page: 'profile_items', name: 'My Advertisements' },
          { page: 'wallets_page', name: 'Wallets' },
          { page: 'booking_page', name: 'Bookings' },
          { page: 'settings', name: 'Settings' },
          { page: 'search_page', name: 'Search' },
        ]
      }
    },
    mounted () {  
      this.$store
        .dispatch(FETCH_ALL_PROPERTIES)

    }
  }
</script>
