 <template>
 	<div class="message-input" v-show="status != ''">
    <div class="message-input-success" v-show="status == 'success'">
      <i class="far fa-check-circle"></i>
    </div>
    <div class="message-input-error" v-show="status == 'error'">
      <i class="fas fa-info-circle"></i>
    </div>
  </div>
 </template>
 <script>
  export default {
    name: 'RappInputCheck',
    watch: {
      st: function (val) {  
        switch (this.type_validate) {
          case 'text':
            this.status = val === '' ? 'error' : 'success'
            break
          case 'email':
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            this.status = !re.test(val) ? 'error' : 'success'
            break
        }
      }
    },
    data () {
      return {
        status: this.st
      }
    },
    props: {
      st: String,
      type_validate: String
    }
  }
 </script>