<template>
  <div class="page-item-info-rows-block">
    <h4 v-if="title && count != data.length">{{title}}</h4>
    <RwvItemRow v-for="item in data" :label="item.label" :value="item.value"></RwvItemRow>
    <div class="page-item-info-rows-hr" v-if="hr && count != data.length"></div>
  </div>
</template>
<script>
import RwvItemRow from '@/components/ItemRow'
export default {
  name: 'RwvItemProperty',
  components: {
    RwvItemRow,
  },
  data () {
    return {
      count: 0
    }
  },
  props: {
    data: Object,
    hr: Boolean,
    title: String
  },
  mounted () {
    for(var i = 0; i < this.data.length; i++) {
      if(this.data[i].value == '') {
        this.count++;
      }
    }
  }
}
</script>
