<template>
  <div class="page-item-info-rows-item row" v-if="value">
    <div class="page-item-info-rows-item-label col-md-3">
      {{label}}
    </div>  
    <div class="page-item-info-rows-item-value col-md-9">
      {{value}}
    </div>  
  </div>
</template>
<script>
export default {
  name: 'RwvItemRow',
  props: {
    label: String,
    value: String
  }
}
</script>
