<template>
<div class="profile-menu">
  <ul>
    <li class="nav-item">
      <router-link class="nav-link"
        active-class="active"
        exact
        :to="{ name: 'profile_items' }">
        <i class="fas fa-list-alt"></i> My Advertisements
      </router-link>
    </li>
    <li class="nav-item">
      <router-link class="nav-link"
        active-class="active"
        exact
        :to="{ name: 'wallets_page' }">
        <i class="fas fa-wallet"></i> Wallets
      </router-link>
    </li>
    <li class="nav-item">
      <router-link :class="'nav-link' + ($route.name == 'incoming_booking_page' || $route.name == 'outgoing_booking_page' ? ' active' : '')"
        active-class="active"
        exact
        :to="{ name: 'booking_page' }">
        <i class="fas fa-retweet"></i> Bookings
      </router-link>
    </li>
    <li class="nav-item">
      <router-link class="nav-link"
        active-class="active"
        exact
        :to="{ name: 'settings' }">
        <i class="fas fa-cogs"></i> Settings
      </router-link>
    </li>
    <li class="nav-item">
      <router-link class="nav-link"
        active-class="active"
        exact
        :to="{ name: 'search_page' }">
        <i class="fas fa-search"></i> Search
      </router-link>
    </li>
  </ul>
</div>
</template> 
<script>
  import { mapGetters } from 'vuex'
  import { UPDATE_USER } from '@/store/actions.type'
  
  export default {
    name: 'RappProfileMenu',
    computed: {
      ...mapGetters([
        'currentUser',
        'isAuthenticated'
      ])
    },
    methods: {
    }
  }
</script>