    <template>
    <div class="template-input-block clearfix">
      <div class="template-input-block-label">
        {{ label }}
      </div>
      <div class="template-input-block-fieldset">
        <v-select :multiple="multiple" v-model="category" :options="data"></v-select>
      </div>
    </div>
  </template>
 <script>
  export default {
    name: 'RappTemplateSelect',
    data () {
      return {
        category:''
      }
    },
    watch: {
      category (val) {
        this.$emit('blur', val)
      },
      vm (val) {
        if(this.change) {
          if(val != undefined) {
            if(val.length != 0) {
              this.category = val
            } 
          }
        }
      }
    },
    mounted () {
      if(this.vm != undefined) {
        if(this.vm.length != 0) {
          this.category = this.vm
        } 
      }
    },
    props: {
      label: String,
      data: Object,
      vm: Object,
      multiple: Boolean,
      change: Boolean
    }
  }
</script>