   <template>
    <div class="template-input-block clearfix">
      <div class="template-input-block-label">
        {{ label }}
      </div>
      <div class="template-input-block-fieldset">
        <fieldset class="form-group">
          <textarea
            class="form-control"
            type="text"
            v-model="vml"
            @input="updateInput"
            :placeholder="placeholder">
          </textarea>
        </fieldset>
      </div>
    </div>
  </template>
 <script>
  export default {
    name: 'RappTemplateTextarea',
    methods: {
      updateInput (value) {
        this.$emit('blur', value)
      }
    },
    props: {
      placeholder: String,
      label: String,
      vml: String
    }
  }
</script>