  <template>
    <div class="template-input-block clearfix">
      <div class="template-input-block-label">
        {{ label }}
      </div>
      <div class="template-input-block-fieldset">
        <div class="template-input-block-fieldset-photos">
          <input type="file" :id="id" name="photo" multiple="true" style="display:none">
          
          <draggable v-model="files" class="template-input-block-fieldset-photos-drag">
            <div class="template-input-block-fieldset-photos-view" v-for="(file,i) in files">
              <img :src="file.base64" alt="">
              <i class="fas fa-times" @click="removeImg(i)"></i>
            </div>
          </draggable>
          <div class="template-input-block-fieldset-photos-select" @click="openFile">
            <i class="fas fa-images"></i>
          </div>
        </div>
      </div>
    </div>
  </template>
 <script>
  export default {
    name: 'RappTemplatePhotos',
    data () {
      return {
        files: [],
        files_load: [],
        input: null
      }
    },
    watch: {
      files (val) {
        this.files_load = [];
        for (let file of val) {
          this.files_load.push({ Name: file.name, Base64Content: file.base64.split('base64,')[1] })
        }
        this.$emit('blur', this.files_load)
      },
      vm (val) {
        var reader  = new FileReader();
        for (let file of val) {
          if(!file.IsThumbnail) {
            var type = file.Name.split(".")
            var blob = new Blob([file.CloudUrl], {type: "image/" + type[type.length - 1]});
            const reader = new FileReader();
            reader.readAsBinaryString(blob);
            var th = this
            reader.onloadend = function () {
              th.files.push({base64: reader.result, name: file.Name})
            }
          }
        }
      }
    },
    methods: {
      removeImg (index) {
        this.files.splice(index, 1)
      },
      openFile () {
        this.input.click()
      },
      onFileSelection(e) {
        var reader  = new FileReader();
        for (let file of this.input.files) {
          const reader = new FileReader();
          reader.readAsDataURL(file);
          var th = this
          reader.onloadend = function () {
            th.files.push({base64: reader.result, name: file.name})
          }
        }
      }
    },
    mounted () {
      this.input = this.$el.querySelector('#' + this.id);
      this.input.addEventListener('change', (e) => this.onFileSelection(e))
    },
    props: {
      label: String,
      id: String,
      vm: Object
    }
  }
</script>