  <template>
    <div class="template-input-block range clearfix">
      <div class="template-input-block-label">
        {{ label }}
      </div>
      <div class="template-input-block-fieldset">
        <vue-slider :ref="ref" :show="show" v-model="value" :max="max" min="1" @callback="rangeSlide"></vue-slider>
      </div>
    </div>
  </template>
 <script>
  export default {
    name: 'RappTemplateRange',
    data () {
      return {
        value: this.data
      }
    },
    watch: {
      data (value) { 
        this.value = value
      },
      vm (val) {
        //this.value = val
      }
    },
    methods: {
      rangeSlide (value) {
        this.$emit('blur', value)
      },
    },
    props: {
      label: String,
      max: Number,
      data: Number,
      ref: String,
      show: Boolean,
      vm: Number
    }
  }
</script>