   <template>
    <div class="template-input-block clearfix">
      <div class="template-input-block-wrp-title row">
        <div class="col-md-5 col-5">
          <div class="template-input-block-label2">
            {{ labels[0] }}
          </div>
        </div>
        <div class="col-md-5 col-5">
          <div class="template-input-block-label2">
            {{ labels[1] }}
          </div>
        </div>
      </div>
      <div class="template-input-block-wrp-list row" v-for="(item,i) in info_data">
        <div class="col-md-5 col-5">
         <input class="form-control" type="text" @input="updateInputKey($event, i)" :value="item[name]" placeholder="">
        </div>
        <div class="col-md-5 col-5">
          <input class="form-control" type="text" @input="updateInputValue($event, i)" :value="item[value]" placeholder="">
        </div>
        <div class="col-md-2 col-2 template-input-block-wrp-list-tools">
          <a href="" @click.prevent="AddRow" v-show="i == info_data.length - 1"><i class="fas fa-plus-circle"></i></a>
          <a href="" @click.prevent="DeleteRow(i)" v-show="i > 0"><i class="fas fa-minus-circle"></i></a>
        </div>
      </div>
    </div>
  </template>
 <script>
  export default {
    name: 'RappTemplateRepeater',
    data () {
      return {
        info_data: []
      }
    },
    methods: {
      DeleteRow (index) {
        this.info_data.splice(index, 1)
      },
      updateInputKey (event, index) {
        this.info_data[index][this.name] = event.target.value
        this.$emit('blur', this.info_data)
      },
      updateInputValue (event, index) {
        this.info_data[index][this.value] = event.target.value
        this.$emit('blur', this.info_data)
      },
      AddRow () {
        var obj = {};
        obj[this.name] = ''
        obj[this.value] = ''
        this.info_data.push(obj)
      }
    },
    watch: {
      vm (val) {
        this.info_data = val
      }
    },
    mounted () {
      var obj = {};
      obj[this.name] = ''
      obj[this.value] = ''
      this.info_data.push(obj)
    },
    props: {
      classes: String,
      labels: Object,
      name: String,
      value: String,
      vm: Object
    }
  }
</script>