<template>
  <div class="password-view" @click="viewPassword">
    <i class="fas fa-eye" v-show="!password_view"></i>
    <i class="far fa-eye-slash" v-show="password_view"></i>
  </div>
</template>
 <script>
  export default {
    name: 'RappViewPassword',
    data() {
      return {
        password_view: false,
        type: 'password',
      }
    },
    methods: {  
      viewPassword () {
        this.password_view = !this.password_view
        this.type = this.password_view ? 'text' : 'password'
        this.$emit('type', this.type);
      },  
    }
  }
</script>