<template>
  <div id="app">
    <rapp-header></rapp-header>
    <router-view></router-view>
    <rapp-footer></rapp-footer>
  </div>
</template>

<script>
import RappHeader from '@/components/Header'
import RappFooter from '@/components/Footer'

export default {
  name: 'App',
  components: {
    RappHeader,
    RappFooter
  }
}
</script>

<style>
</style>
